* {
  font-size: 1rem;
  outline: none;
  border: none;
  text-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  -gtk-icon-shadow: none;
}

icon {
  box-shadow: none;
  text-shadow: none;
}

slider {
  border: none;
  outline: none;
  background: rgba(241, 222, 220, 0.18);
}

separator {
  background: none;
}

window {
  background: none;
}

button {
  background: none;
  border: none;
  box-shadow: none;
}

label {
  box-shadow: none;
}

window.popup > * {
  border: none;
  box-shadow: none;
}
window.popup menu {
  margin-top: 0.857rem;
  border-radius: 1.857rem;
  background-color: #171717;
  padding: 0.714rem;
}
window.popup menu menuitem {
  min-width: 10rem;
  padding: 0.857rem 0.429rem;
  color: #f1dedc;
  border-radius: 7.143rem;
  transition: background 0.1s ease;
}
window.popup menu menuitem:hover {
  background: rgba(241, 222, 220, 0.08);
}
window.popup menu menuitem:first-child {
  margin-top: 0;
}
window.popup menu menuitem:last-child {
  margin-bottom: 0;
}

switch {
  border: 0.143rem solid #a08c89;
  border-radius: 7.143rem;
  background-color: #3d3231;
}

switch slider {
  box-shadow: none;
  border-radius: 7.143rem;
  background-color: #a08c89;
}

switch:hover slider,
switch:active slider {
  background-color: #d8c2be;
}

switch:active {
  background-color: rgb(240.856, 221.8624, 219.8632);
}

switch:checked {
  background-color: #51a4e7;
  border: 0.143rem solid #51a4e7;
}

switch:checked slider {
  background-color: #141414;
}

.material-button {
  border-radius: 1.714rem;
  padding: 0.571rem 1.571rem;
}
.material-button:focus {
  box-shadow: 0 0 0 0.071rem #f1dedc;
}
.material-button.filled {
  background: #51a4e7;
  color: #141414;
}
.material-button.filled:hover, .material-button.filled:focus {
  background: #51a4e7, linear-gradient(0deg, rgba(241, 222, 220, 0.18), rgba(241, 222, 220, 0.18));
}
.material-button.filled:active {
  background: #ffdad5, linear-gradient(0deg, rgba(241, 222, 220, 0.08), rgba(241, 222, 220, 0.08));
}
.material-button.outlined {
  background: none;
  color: #f1dedc;
  border: 0.071rem solid #a08c89;
}
.material-button.outlined:hover, .material-button.outlined:focus {
  background: rgba(241, 222, 220, 0.08);
}
.material-button.outlined:active {
  background: rgba(241, 222, 220, 0.18);
}

.bar {
  min-height: 1.8rem;
  margin: 0 0.12rem 0 0rem;
  background: #171717;
}

.extra-buttons.bar__button {
  padding: 0.2rem 0.4rem;
  margin: 0;
  min-width: 1rem;
}

.taskbar .bar__button {
  padding: 0.2rem;
}

.bar__item {
  padding: 0;
  font-size: 1rem;
  padding-left: 1.143rem;
  padding-right: 1.143rem;
  min-height: 1.5rem;
  border-radius: 1.714rem;
  color: #f1dedc;
  border: none;
  outline: none;
}
.bar__item.bar__button:hover {
  background: rgba(241, 222, 220, 0.08), linear-gradient(0deg, rgba(241, 222, 220, 0.08), rgba(241, 222, 220, 0.08));
}
.bar__item.bar__button:active {
  background: rgba(241, 222, 220, 0.18), linear-gradient(0deg, rgba(241, 222, 220, 0.08), rgba(241, 222, 220, 0.08));
}
.bar__item.bar__button.active {
  background: rgba(81, 164, 231, 0.6);
}
.bar__item.bar__button.bar__recording-indicator {
  padding: 0.2rem 0.6rem;
  background: #93000a;
  color: #ffdad6;
}
.bar__item.bar__button.bar__recording-indicator:hover {
  color: #93000a;
  background: #ffdad6;
}
.bar__item.transparent {
  background: transparent;
  color: #f1dedc;
}

.bar__item.primary_container {
  background: #73342c;
  color: #ffdad5;
}

.distro-icon {
  color: #51a4e7;
}

.bar__app-launcher.bar__button {
  padding: 0.2rem 0.2rem;
  transition: all 0.3s;
  min-height: 1.5rem;
  min-width: 1.5rem;
}
.bar__app-launcher.bar__button .bar__app-launcher_icon {
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 100%;
  transition: all 0.3s;
}
.bar__app-launcher.bar__button.active, .bar__app-launcher.bar__button:active {
  background-color: rgba(81, 164, 231, 0.6);
}

.workspace-dot {
  margin: 0.65rem;
  background-color: rgba(241, 222, 220, 0.18);
  border-radius: 7.143rem;
  transition: all 0.3s;
}

.bar__workspaces-indicator {
  padding: 0;
  margin: 0;
}
.bar__workspaces-indicator:hover .workspace-dot {
  background-color: rgba(81, 164, 231, 0.6);
}
.bar__workspaces-indicator.active .workspace-dot, .bar__workspaces-indicator:active .workspace-dot {
  background-color: #eeeeee;
}
.bar__workspaces-indicator.focused .workspace-dot {
  padding: 0.34rem 1rem;
  background-color: #51a4e7;
  margin: 0.5rem 0.35rem;
}

.bar__active-app {
  padding-left: 0.857rem;
  padding-right: 1.143rem;
}
.bar__active-app icon {
  min-width: 1.429rem;
  min-height: 1.429rem;
  font-size: 1.429rem;
}
.bar__active-app .desktop icon {
  font-size: 1rem;
}

.bar__keyboard-layout {
  padding: 0;
  min-height: 3rem;
  min-width: 3rem;
}

.bar__battery {
  padding-left: 0.714rem;
  padding-right: 0.714rem;
}

.notification-revealer {
  margin: 0;
  padding: 0;
}

.bar__notifications {
  color: #EBFF71;
  padding: 0.2rem 0 0.2rem 0.6rem;
  margin: 0;
}

.clock-bar {
  padding: 0.2rem 0.6rem;
}
.clock-bar.active, .clock-bar:active {
  background-color: rgba(81, 164, 231, 0.6);
}

.weather-button {
  padding: 0.2rem 0.4rem;
}
.weather-button.active, .weather-button:active {
  background-color: rgba(81, 164, 231, 0.6);
}

.bar__notifications_label {
  border-radius: 0.643rem;
  min-width: 1rem;
}

.bar-last-notification-label {
  padding-right: 0.4rem;
}

.bar__tray {
  padding: 0 0.4rem;
}

.bar__tray-item {
  padding: 0.1rem;
  min-width: 1.571rem;
  min-height: 1.571rem;
  background: none;
  border-radius: 1.2rem;
}
.bar__tray-item:hover {
  background-color: rgba(238, 238, 238, 0.2);
}
.bar__tray-item icon {
  font-size: 1.286rem;
}

.bar__rounded-box .bar__item {
  border-radius: 0.286rem;
}

.bar__rounded-box > *:last-child {
  border-top-right-radius: 1.714rem;
  border-bottom-right-radius: 1.714rem;
}
.bar__rounded-box > *:first-child, .bar__rounded-box > *:first-child > * {
  border-top-left-radius: 1.714rem;
  border-bottom-left-radius: 1.714rem;
}

.volume-percentage {
  padding: 0 0 0 0.4rem;
}

.usage {
  padding: 0 0 0 0.4rem;
  border: none;
  outline: none;
}
.usage .icon {
  margin-left: 0.6rem;
  padding: 0 0.6rem 0 0;
}

.btwrapper {
  padding-right: 0.6rem;
}

.btwrapper .bt-icon {
  margin-left: 0.6rem;
  margin-right: 0.4rem;
}

.usage-box {
  margin: 0;
  padding: 0;
}

.powermenu-button {
  padding: 0.2rem 0.4rem;
  color: rgba(229, 95, 134, 0.7);
}
.powermenu-button.active, .powermenu-button:active {
  background-color: rgba(81, 164, 231, 0.6);
}

.workspaces-box {
  padding: 0 0.4rem;
}

.workspaces {
  border-radius: 1.714rem;
  transition: all 0.3s;
}
.workspaces:hover {
  background: rgba(241, 222, 220, 0.08), linear-gradient(0deg, rgba(241, 222, 220, 0.08), rgba(241, 222, 220, 0.08));
}
.workspaces:active {
  background: rgba(241, 222, 220, 0.18), linear-gradient(0deg, rgba(241, 222, 220, 0.08), rgba(241, 222, 220, 0.08));
}
.workspaces.active {
  background: #51a4e7;
  color: #141414;
}

.bar__system-indicators {
  padding: 0.2rem 0.5rem;
}

.bt-indicator-icon {
  color: #51a4e7;
}

.mic-indicator-icon {
  color: greenyellow;
}

.mic-indicator-icon-muted {
  color: rgba(229, 95, 134, 0.7);
}

.headset-icon {
  padding-left: 0.3rem;
}

.bar .player__playpause.active {
  background: transparent;
}
.bar .player__playpause.active:hover {
  background: rgba(238, 238, 238, 0.2);
}

.player__playpause {
  padding: 0.2rem 0.4rem;
}

.media-player-icon-button {
  padding: 0.2rem;
}

.media-player-title-box-button {
  padding: 0.2rem 0.6rem;
}

.player__previous {
  padding: 0.2rem;
}

.player__next {
  padding: 0.2rem;
}

.player-icon-cover-art {
  margin: 2px;
  min-width: 1.2rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.transparent-scrim {
  background-color: rgba(0, 0, 0, 0.0039215686);
}

.scrim {
  background: rgba(0, 0, 0, 0.32);
}

.app-launcher {
  border: 1px solid rgba(238, 238, 238, 0.04);
  min-width: 39.3rem;
  border-radius: 1.2rem;
  padding: 0;
  background: #171717;
}

.app-launcher__input {
  background: none;
  border: none;
  margin-right: 1rem;
  outline: none;
  border-radius: 0;
  box-shadow: none;
}
.app-launcher__input icon {
  margin-right: 1.333rem;
}

.app-launcher__list {
  margin: 0 0.667rem;
  margin-top: 0.533rem;
  margin-bottom: 0.667rem;
}

.app-launcher__item {
  all: unset;
  transition: all 0.2s ease;
  padding: 0.3rem 0;
  border-radius: 0.8rem;
  min-height: 2.4rem;
}
.app-launcher__item label {
  transition: all 0.2s ease;
}
.app-launcher__item label.title {
  font-weight: 500;
  color: #f1dedc;
}
.app-launcher__item label.description {
  color: rgba(241, 222, 220, 0.7);
}
.app-launcher__item icon {
  font-size: 1.7rem;
  margin-right: 0.1rem;
  margin-left: 0.667rem;
}
.app-launcher__item:hover {
  background: rgba(241, 222, 220, 0.08);
}
.app-launcher__item:hover .title {
  color: #f1dedc;
}
.app-launcher__item:focus {
  background: #51a4e7;
}
.app-launcher__item:focus .title {
  color: #141414;
}
.app-launcher__item:focus .description {
  color: #141414;
}
.app-launcher__item:focus icon {
  -gtk-icon-shadow: 2px 2px #141414;
}
.app-launcher__item:active {
  background: yellow;
  background-color: rgba(81, 164, 231, 0.8);
  box-shadow: inset 0 0 0 0.067rem #51a4e7;
}
.app-launcher__item:active .title {
  color: #141414;
}

.app-scroll-list {
  border-top: 1px solid rgba(238, 238, 238, 0.2);
  padding-bottom: 0.4rem;
}

.app-scroll-list .overlay-indicator {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.3rem;
}

.app-scroll-list .overlay-indicator:hover {
  background-color: transparent;
}

.app-scroll-list .bottom {
  background: transparent;
}

.app-scroll-list .top {
  background: transparent;
}

.entry-box {
  margin-top: 0.333rem;
  padding: 0.4rem 0;
}

.entry-icon {
  margin-left: 1.3rem;
  margin-right: 0.5rem;
  font-size: 1.1rem;
}

.math-query {
  padding: 0.5rem 1rem 0 1rem;
  font-size: 1.5rem;
}

.math-result {
  padding: 0.5rem 1rem 0 1rem;
  font-size: 1.5rem;
}

.app-launcher-todo .block,
.app-launcher-calendar .block {
  border: none;
  background: transparent;
  border-radius: 0;
  padding: 0;
}
.app-launcher-todo .calendar-box-outline,
.app-launcher-calendar .calendar-box-outline {
  padding-bottom: 0;
}
.app-launcher-todo .calendar__header,
.app-launcher-calendar .calendar__header {
  margin-top: 0;
  padding: 0;
}
.app-launcher-todo .calendar__header .sidebar-calendar-monthshift-btn,
.app-launcher-calendar .calendar__header .sidebar-calendar-monthshift-btn {
  padding: 0 0.8rem;
}
.app-launcher-todo .calendar__header .calendar__monthyear,
.app-launcher-calendar .calendar__header .calendar__monthyear {
  padding: 0.5rem 1rem;
}
.app-launcher-todo .calendar__header button,
.app-launcher-calendar .calendar__header button {
  padding: 0.4rem;
}
.app-launcher-todo .calendar__button,
.app-launcher-calendar .calendar__button {
  padding: 0.5rem 1.4rem;
}

.app-launcher-powermenu .powermenu {
  padding: 0;
  background: transparent;
  border: none;
}
.app-launcher-powermenu .powermenu__button {
  min-width: 6rem;
  min-height: 6rem;
}

.app-launcher-sinks .menu.sink-selector .sink-box {
  padding: 0.8rem;
  margin-top: 0.5rem;
}

.app-launcher-notifications .notifications-window {
  border-radius: 0;
  min-height: 0rem;
  padding: 0;
}
.app-launcher-notifications .notifications-window .notification {
  padding: 0;
  background-color: transparent;
}
.app-launcher-notifications .notifications-window .notification .notification__actions {
  background-color: rgba(241, 222, 220, 0.08);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  margin: 0;
}
.app-launcher-notifications .notifications-window__clear {
  margin: 0;
}
.app-launcher-notifications .content {
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  transition: 0.2s border-radius ease-in-out;
  background-color: rgba(241, 222, 220, 0.08);
  padding: 0.5rem 1rem;
}

.app-launcher.app-launcher-27-5 {
  min-height: 27.5rem;
}

.app-launcher.app-launcher-24 {
  min-height: 24rem;
}

.app-launcher.app-launcher-20-5 {
  min-height: 20.5rem;
}

.app-launcher.app-launcher-17 {
  min-height: 17rem;
}

.app-launcher.app-launcher-15 {
  min-height: 15rem;
}

.app-launcher.app-launcher-13-5 {
  min-height: 13.5rem;
}

.app-launcher.app-launcher-11 {
  min-height: 11rem;
}

.app-launcher.app-launcher-10 {
  min-height: 10rem;
}

.app-launcher.app-launcher-6-5 {
  min-height: 6.5rem;
}

.app-launcher.app-launcher-4 {
  min-height: 4rem;
}

.app-launcher.app-launcher-3 {
  min-height: 3rem;
}

.app-launcher.app-launcher-0 {
  min-height: 0rem;
}

.app-launcher-sinks .control-center__container,
.app-launcher-controlcenter .control-center__container,
.ControlCenter .control-center__container {
  border-radius: 2rem;
  min-width: 20.143rem;
  background: #171717;
  margin: 1px;
  border: 1px solid rgba(238, 238, 238, 0.04);
}
.app-launcher-sinks .control-center__page,
.app-launcher-controlcenter .control-center__page,
.ControlCenter .control-center__page {
  padding: 1.429rem 1.429rem 0 1.429rem;
}
.app-launcher-sinks .control-center__page.main,
.app-launcher-controlcenter .control-center__page.main,
.ControlCenter .control-center__page.main {
  padding: 0.8rem;
}
.app-launcher-sinks .control-center__page.network .top,
.app-launcher-sinks .control-center__page.network .bottom,
.app-launcher-sinks .control-center__page.bluetooth .top,
.app-launcher-sinks .control-center__page.bluetooth .bottom,
.app-launcher-controlcenter .control-center__page.network .top,
.app-launcher-controlcenter .control-center__page.network .bottom,
.app-launcher-controlcenter .control-center__page.bluetooth .top,
.app-launcher-controlcenter .control-center__page.bluetooth .bottom,
.ControlCenter .control-center__page.network .top,
.ControlCenter .control-center__page.network .bottom,
.ControlCenter .control-center__page.bluetooth .top,
.ControlCenter .control-center__page.bluetooth .bottom {
  background: transparent;
}
.app-launcher-sinks .control-center__page_scrollable-content,
.app-launcher-controlcenter .control-center__page_scrollable-content,
.ControlCenter .control-center__page_scrollable-content {
  margin-bottom: 1.429rem;
}
.app-launcher-sinks .control-center__page_header,
.app-launcher-controlcenter .control-center__page_header,
.ControlCenter .control-center__page_header {
  color: #f1dedc;
  margin-top: 0.571rem;
  margin-bottom: 1.714rem;
}
.app-launcher-sinks .control-center__page_header label,
.app-launcher-controlcenter .control-center__page_header label,
.ControlCenter .control-center__page_header label {
  font-size: 1.286rem;
  font-weight: 500;
}
.app-launcher-sinks .control-center__page_header_button,
.app-launcher-controlcenter .control-center__page_header_button,
.ControlCenter .control-center__page_header_button {
  background: rgba(241, 222, 220, 0.08);
  color: #f1dedc;
  min-width: 2.714rem;
  min-height: 2.714rem;
  border-radius: 7.143rem;
}
.app-launcher-sinks .control-center__page_header_button:hover,
.app-launcher-controlcenter .control-center__page_header_button:hover,
.ControlCenter .control-center__page_header_button:hover {
  background-color: rgba(241, 222, 220, 0.18);
}
.app-launcher-sinks .control-center__page_header_button:focus,
.app-launcher-controlcenter .control-center__page_header_button:focus,
.ControlCenter .control-center__page_header_button:focus {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.2), inset 25px 25px 0 1.589rem rgba(238, 238, 238, 0.2);
}
.app-launcher-sinks .control-center-page,
.app-launcher-controlcenter .control-center-page,
.ControlCenter .control-center-page {
  min-width: 0;
  min-height: 0;
  color: transparent;
}
.app-launcher-sinks .control-center-page .page-dot,
.app-launcher-controlcenter .control-center-page .page-dot,
.ControlCenter .control-center-page .page-dot {
  min-width: 0.4rem;
  min-height: 0.4rem;
  margin: 0.65rem 0.4rem;
  background-color: rgba(241, 222, 220, 0.18);
  border-radius: 7.143rem;
  transition: all 0.3s;
}
.app-launcher-sinks .control-center-page:hover .page-dot,
.app-launcher-controlcenter .control-center-page:hover .page-dot,
.ControlCenter .control-center-page:hover .page-dot {
  background-color: rgba(81, 164, 231, 0.6);
}
.app-launcher-sinks .control-center-page.active .page-dot, .app-launcher-sinks .control-center-page:active .page-dot,
.app-launcher-controlcenter .control-center-page.active .page-dot,
.app-launcher-controlcenter .control-center-page:active .page-dot,
.ControlCenter .control-center-page.active .page-dot,
.ControlCenter .control-center-page:active .page-dot {
  padding: 0 0.2rem;
  background-color: #51a4e7;
}
.app-launcher-sinks .control-center-page:focus .page-dot,
.app-launcher-controlcenter .control-center-page:focus .page-dot,
.ControlCenter .control-center-page:focus .page-dot {
  padding: 0 0.2rem;
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.2), inset 25px 25px 0 1.589rem rgba(238, 238, 238, 0.2);
  background-color: rgba(238, 238, 238, 0.5);
}
.app-launcher-sinks .control-center-box-space,
.app-launcher-controlcenter .control-center-box-space,
.ControlCenter .control-center-box-space {
  margin-bottom: 0.6rem;
}
.app-launcher-sinks .toggles.control-center__button,
.app-launcher-controlcenter .toggles.control-center__button,
.ControlCenter .toggles.control-center__button {
  min-width: 10.3132rem;
}
.app-launcher-sinks .control-center__page_item-header,
.app-launcher-controlcenter .control-center__page_item-header,
.ControlCenter .control-center__page_item-header {
  background: rgba(241, 222, 220, 0.08);
  border-radius: 1.714rem;
  padding: 0 1.571rem;
  min-height: 5.714rem;
  transition: background 0.1s ease;
}
.app-launcher-sinks .control-center__page_item-header.active,
.app-launcher-controlcenter .control-center__page_item-header.active,
.ControlCenter .control-center__page_item-header.active {
  background: #73342c;
  color: #ffdad5;
}
.app-launcher-sinks .control-center__page_item-header label,
.app-launcher-controlcenter .control-center__page_item-header label,
.ControlCenter .control-center__page_item-header label {
  font-size: 1.143rem;
  font-weight: 500;
  margin-left: 1.143rem;
}
.app-launcher-sinks .control-center__page_item,
.app-launcher-controlcenter .control-center__page_item,
.ControlCenter .control-center__page_item {
  background: rgba(241, 222, 220, 0.08);
  padding: 1.286rem 1.571rem;
  color: #f1dedc;
  transition: background 0.1s ease;
}
.app-launcher-sinks .control-center__page_item:first-child,
.app-launcher-controlcenter .control-center__page_item:first-child,
.ControlCenter .control-center__page_item:first-child {
  border-top-left-radius: 1.286rem;
  border-top-right-radius: 1.286rem;
}
.app-launcher-sinks .control-center__page_item:last-child,
.app-launcher-controlcenter .control-center__page_item:last-child,
.ControlCenter .control-center__page_item:last-child {
  border-bottom-left-radius: 1.286rem;
  border-bottom-right-radius: 1.286rem;
}
.app-launcher-sinks .control-center__page_item label,
.app-launcher-controlcenter .control-center__page_item label,
.ControlCenter .control-center__page_item label {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1.143rem;
}
.app-launcher-sinks .control-center__page_item:hover,
.app-launcher-controlcenter .control-center__page_item:hover,
.ControlCenter .control-center__page_item:hover {
  background-color: rgba(241, 222, 220, 0.18);
}
.app-launcher-sinks .control-center__button > *,
.app-launcher-controlcenter .control-center__button > *,
.ControlCenter .control-center__button > * {
  border-radius: 2.143rem;
}
.app-launcher-sinks .control-center__button,
.app-launcher-controlcenter .control-center__button,
.ControlCenter .control-center__button {
  background-color: #232323;
  color: #f1dedc;
  padding: 0 0.5rem 0 1rem;
  border-radius: 7.143rem;
  min-height: 3.2rem;
  min-width: 8rem;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: 600;
}
.app-launcher-sinks .control-center__button.active,
.app-launcher-controlcenter .control-center__button.active,
.ControlCenter .control-center__button.active {
  background: #51a4e7;
  color: #141414;
}
.app-launcher-sinks .control-center__button.active:hover,
.app-launcher-controlcenter .control-center__button.active:hover,
.ControlCenter .control-center__button.active:hover {
  background: #51a4e7, linear-gradient(0deg, rgba(241, 222, 220, 0.18), rgba(241, 222, 220, 0.18));
}
.app-launcher-sinks .control-center__button.active:active,
.app-launcher-controlcenter .control-center__button.active:active,
.ControlCenter .control-center__button.active:active {
  background: #ffdad5, linear-gradient(0deg, rgba(241, 222, 220, 0.08), rgba(241, 222, 220, 0.08));
}
.app-launcher-sinks .control-center__button:hover,
.app-launcher-controlcenter .control-center__button:hover,
.ControlCenter .control-center__button:hover {
  background-color: rgba(241, 222, 220, 0.18);
}
.app-launcher-sinks .control-center__button.no-label,
.app-launcher-controlcenter .control-center__button.no-label,
.ControlCenter .control-center__button.no-label {
  padding: 0;
}
.app-launcher-sinks .control-center__button.recorder-indicator.active,
.app-launcher-controlcenter .control-center__button.recorder-indicator.active,
.ControlCenter .control-center__button.recorder-indicator.active {
  background: #93000a;
  color: #ffdad6;
}
.app-launcher-sinks .control-center__button.recorder-indicator.active:hover,
.app-launcher-controlcenter .control-center__button.recorder-indicator.active:hover,
.ControlCenter .control-center__button.recorder-indicator.active:hover {
  background: #93000a, linear-gradient(0deg, rgba(241, 222, 220, 0.18), rgba(241, 222, 220, 0.18));
}
.app-launcher-sinks .control-center__button.recorder-indicator.active:active,
.app-launcher-controlcenter .control-center__button.recorder-indicator.active:active,
.ControlCenter .control-center__button.recorder-indicator.active:active {
  background: #93000a, linear-gradient(0deg, rgba(241, 222, 220, 0.08), rgba(241, 222, 220, 0.08));
}
.app-launcher-sinks .control-center__dropdown-menu,
.app-launcher-controlcenter .control-center__dropdown-menu,
.ControlCenter .control-center__dropdown-menu {
  background: rgba(241, 222, 220, 0.08);
  border-radius: 2.286rem;
  padding: 1.714rem;
  margin-top: 0.6rem;
}
.app-launcher-sinks .control-center__dropdown-menu_icon,
.app-launcher-controlcenter .control-center__dropdown-menu_icon,
.ControlCenter .control-center__dropdown-menu_icon {
  font-size: 1.429rem;
  color: red;
}
.app-launcher-sinks .control-center__dropdown-menu_item icon,
.app-launcher-controlcenter .control-center__dropdown-menu_item icon,
.ControlCenter .control-center__dropdown-menu_item icon {
  font-size: 1.143rem;
}
.app-launcher-sinks .control-center__dropdown-menu_item label,
.app-launcher-controlcenter .control-center__dropdown-menu_item label,
.ControlCenter .control-center__dropdown-menu_item label {
  font-size: 1.143rem;
}
.app-launcher-sinks .control-center__time-to-empty,
.app-launcher-controlcenter .control-center__time-to-empty,
.ControlCenter .control-center__time-to-empty {
  color: #f1dedc;
  font-size: 1.071rem;
  font-weight: 500;
}
.app-launcher-sinks .weather,
.app-launcher-controlcenter .weather,
.ControlCenter .weather {
  margin-top: 0.3rem;
}
.app-launcher-sinks .lightstrip-color .fetch-new-ip,
.app-launcher-controlcenter .lightstrip-color .fetch-new-ip,
.ControlCenter .lightstrip-color .fetch-new-ip {
  padding: 0 0.4rem;
  border-radius: 1.2rem;
}
.app-launcher-sinks .control-center__page .control-center-toggles,
.app-launcher-controlcenter .control-center__page .control-center-toggles,
.ControlCenter .control-center__page .control-center-toggles {
  min-height: 10.7rem;
}
.app-launcher-sinks .filler-button,
.app-launcher-controlcenter .filler-button,
.ControlCenter .filler-button {
  min-width: 11.34452rem;
}
.app-launcher-sinks .control-center-space,
.app-launcher-controlcenter .control-center-space,
.ControlCenter .control-center-space {
  margin: 0 0.3rem;
}
.app-launcher-sinks .control-center__page.bluetooth button:focus,
.app-launcher-sinks .control-center__page.bluetooth switch:focus,
.app-launcher-sinks .qs-menu:focus,
.app-launcher-sinks .qs-menu button:focus,
.app-launcher-sinks .qs-menu switch:focus,
.app-launcher-controlcenter .control-center__page.bluetooth button:focus,
.app-launcher-controlcenter .control-center__page.bluetooth switch:focus,
.app-launcher-controlcenter .qs-menu:focus,
.app-launcher-controlcenter .qs-menu button:focus,
.app-launcher-controlcenter .qs-menu switch:focus,
.ControlCenter .control-center__page.bluetooth button:focus,
.ControlCenter .control-center__page.bluetooth switch:focus,
.ControlCenter .qs-menu:focus,
.ControlCenter .qs-menu button:focus,
.ControlCenter .qs-menu switch:focus {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.2), inset 25px 25px 0 1.589rem rgba(238, 238, 238, 0.2);
}
.app-launcher-sinks .control-center__page.bluetooth button:hover,
.app-launcher-sinks .control-center__page.bluetooth switch:hover,
.app-launcher-sinks .qs-menu:hover,
.app-launcher-sinks .qs-menu button:hover,
.app-launcher-sinks .qs-menu switch:hover,
.app-launcher-controlcenter .control-center__page.bluetooth button:hover,
.app-launcher-controlcenter .control-center__page.bluetooth switch:hover,
.app-launcher-controlcenter .qs-menu:hover,
.app-launcher-controlcenter .qs-menu button:hover,
.app-launcher-controlcenter .qs-menu switch:hover,
.ControlCenter .control-center__page.bluetooth button:hover,
.ControlCenter .control-center__page.bluetooth switch:hover,
.ControlCenter .qs-menu:hover,
.ControlCenter .qs-menu button:hover,
.ControlCenter .qs-menu switch:hover {
  background-color: rgba(241, 222, 220, 0.18);
}
.app-launcher-sinks .control-center__brightness-slider *,
.app-launcher-sinks .control-center__volume-slider *,
.app-launcher-controlcenter .control-center__brightness-slider *,
.app-launcher-controlcenter .control-center__volume-slider *,
.ControlCenter .control-center__brightness-slider *,
.ControlCenter .control-center__volume-slider * {
  padding: 0;
  margin: 0;
  border: none;
}
.app-launcher-sinks .control-center__brightness-slider .control-center__slider-icon,
.app-launcher-sinks .control-center__volume-slider .control-center__slider-icon,
.app-launcher-controlcenter .control-center__brightness-slider .control-center__slider-icon,
.app-launcher-controlcenter .control-center__volume-slider .control-center__slider-icon,
.ControlCenter .control-center__brightness-slider .control-center__slider-icon,
.ControlCenter .control-center__volume-slider .control-center__slider-icon {
  color: #141414;
  margin-left: 0.8rem;
}
.app-launcher-sinks .control-center__brightness-slider trough,
.app-launcher-sinks .control-center__volume-slider trough,
.app-launcher-controlcenter .control-center__brightness-slider trough,
.app-launcher-controlcenter .control-center__volume-slider trough,
.ControlCenter .control-center__brightness-slider trough,
.ControlCenter .control-center__volume-slider trough {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 7.143rem;
  background-color: rgba(241, 222, 220, 0.08);
  min-height: 2.37475rem;
}
.app-launcher-sinks .control-center__brightness-slider trough highlight,
.app-launcher-sinks .control-center__volume-slider trough highlight,
.app-launcher-controlcenter .control-center__brightness-slider trough highlight,
.app-launcher-controlcenter .control-center__volume-slider trough highlight,
.ControlCenter .control-center__brightness-slider trough highlight,
.ControlCenter .control-center__volume-slider trough highlight {
  min-width: 2.37475rem;
  border-radius: 7.143rem;
  background-color: #51a4e7;
  border-radius: 7.143rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.app-launcher-sinks .control-center__brightness-slider trough slider,
.app-launcher-sinks .control-center__volume-slider trough slider,
.app-launcher-controlcenter .control-center__brightness-slider trough slider,
.app-launcher-controlcenter .control-center__volume-slider trough slider,
.ControlCenter .control-center__brightness-slider trough slider,
.ControlCenter .control-center__volume-slider trough slider {
  min-width: 2.37475rem;
  min-height: 2.37475rem;
  border-radius: 7.143rem;
  background-color: transparent;
  box-shadow: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.app-launcher-sinks .muted .control-center__volume-slider highlight,
.app-launcher-controlcenter .muted .control-center__volume-slider highlight,
.ControlCenter .muted .control-center__volume-slider highlight {
  background-color: rgba(241, 222, 220, 0.18);
}
.app-launcher-sinks .muted .control-center__slider-icon,
.app-launcher-controlcenter .muted .control-center__slider-icon,
.ControlCenter .muted .control-center__slider-icon {
  color: #f1dedc;
}
.app-launcher-sinks .brightness-box,
.app-launcher-controlcenter .brightness-box,
.ControlCenter .brightness-box {
  padding-top: 0.8rem;
}
.app-launcher-sinks .brightness-box trough highlight,
.app-launcher-sinks .brightness-box trough progress,
.app-launcher-sinks .volumeslider-box trough highlight,
.app-launcher-sinks .volumeslider-box trough progress,
.app-launcher-sinks .volumeslider trough highlight,
.app-launcher-sinks .volumeslider trough progress,
.app-launcher-controlcenter .brightness-box trough highlight,
.app-launcher-controlcenter .brightness-box trough progress,
.app-launcher-controlcenter .volumeslider-box trough highlight,
.app-launcher-controlcenter .volumeslider-box trough progress,
.app-launcher-controlcenter .volumeslider trough highlight,
.app-launcher-controlcenter .volumeslider trough progress,
.ControlCenter .brightness-box trough highlight,
.ControlCenter .brightness-box trough progress,
.ControlCenter .volumeslider-box trough highlight,
.ControlCenter .volumeslider-box trough progress,
.ControlCenter .volumeslider trough highlight,
.ControlCenter .volumeslider trough progress {
  background: linear-gradient(to right, #51a4e7, #6cb2eb);
}
.app-launcher-sinks .brightness-box trough highlight:hover,
.app-launcher-sinks .brightness-box trough highlight:focus,
.app-launcher-sinks .volumeslider-box trough highlight:hover,
.app-launcher-sinks .volumeslider-box trough highlight:focus,
.app-launcher-sinks .volumeslider trough highlight:hover,
.app-launcher-sinks .volumeslider trough highlight:focus,
.app-launcher-controlcenter .brightness-box trough highlight:hover,
.app-launcher-controlcenter .brightness-box trough highlight:focus,
.app-launcher-controlcenter .volumeslider-box trough highlight:hover,
.app-launcher-controlcenter .volumeslider-box trough highlight:focus,
.app-launcher-controlcenter .volumeslider trough highlight:hover,
.app-launcher-controlcenter .volumeslider trough highlight:focus,
.ControlCenter .brightness-box trough highlight:hover,
.ControlCenter .brightness-box trough highlight:focus,
.ControlCenter .volumeslider-box trough highlight:hover,
.ControlCenter .volumeslider-box trough highlight:focus,
.ControlCenter .volumeslider trough highlight:hover,
.ControlCenter .volumeslider trough highlight:focus {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.2), inset 25px 25px 0 1.589rem rgba(238, 238, 238, 0.2);
}
.app-launcher-sinks .volumeslider-box scale:focus highlight,
.app-launcher-sinks .volumeslider-box scale:focus highlight,
.app-launcher-controlcenter .volumeslider-box scale:focus highlight,
.app-launcher-controlcenter .volumeslider-box scale:focus highlight,
.ControlCenter .volumeslider-box scale:focus highlight,
.ControlCenter .volumeslider-box scale:focus highlight {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.2), inset 25px 25px 0 1.589rem rgba(238, 238, 238, 0.2);
}
.app-launcher-sinks .menu .sink-box,
.app-launcher-sinks .menu .control-center__dropdown-menu,
.app-launcher-controlcenter .menu .sink-box,
.app-launcher-controlcenter .menu .control-center__dropdown-menu,
.ControlCenter .menu .sink-box,
.ControlCenter .menu .control-center__dropdown-menu {
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(238, 238, 238, 0.04);
}
.app-launcher-sinks .sink-box,
.app-launcher-controlcenter .sink-box,
.ControlCenter .sink-box {
  margin-top: 0.8rem;
}
.app-launcher-sinks .lightstrip-color,
.app-launcher-sinks .sink-box,
.app-launcher-controlcenter .lightstrip-color,
.app-launcher-controlcenter .sink-box,
.ControlCenter .lightstrip-color,
.ControlCenter .sink-box {
  background: rgba(241, 222, 220, 0.08);
  border-radius: 2.286rem;
  padding: 1.714rem;
}
.app-launcher-sinks .lightstrip-color .cotrol-center-menu-button,
.app-launcher-sinks .sink-box .cotrol-center-menu-button,
.app-launcher-controlcenter .lightstrip-color .cotrol-center-menu-button,
.app-launcher-controlcenter .sink-box .cotrol-center-menu-button,
.ControlCenter .lightstrip-color .cotrol-center-menu-button,
.ControlCenter .sink-box .cotrol-center-menu-button {
  border-radius: 2.286rem;
  background-color: rgba(23, 23, 23, 0.6);
  padding-left: 1rem;
  padding-right: 1rem;
}
.app-launcher-sinks .control-center__dropdown-menu_title,
.app-launcher-controlcenter .control-center__dropdown-menu_title,
.ControlCenter .control-center__dropdown-menu_title {
  font-size: 1.429rem;
  font-weight: 600;
}
.app-launcher-sinks .cotrol-center-menu-button,
.app-launcher-controlcenter .cotrol-center-menu-button,
.ControlCenter .cotrol-center-menu-button {
  padding: 0.4rem 0;
}
.app-launcher-sinks .cotrol-center-menu-button:hover,
.app-launcher-controlcenter .cotrol-center-menu-button:hover,
.ControlCenter .cotrol-center-menu-button:hover {
  background-color: rgba(241, 222, 220, 0.18);
}
.app-launcher-sinks .control-center__settings-button,
.app-launcher-sinks .control-center__powermenu-button,
.app-launcher-controlcenter .control-center__settings-button,
.app-launcher-controlcenter .control-center__powermenu-button,
.ControlCenter .control-center__settings-button,
.ControlCenter .control-center__powermenu-button {
  min-width: 2.37475rem;
  min-height: 2.37475rem;
  background: rgba(241, 222, 220, 0.08);
  color: #f1dedc;
  border-radius: 7.143rem;
  transition: 0.15s all ease-in-out;
}
.app-launcher-sinks .control-center__settings-button:hover,
.app-launcher-controlcenter .control-center__settings-button:hover,
.ControlCenter .control-center__settings-button:hover {
  background: #dfc38c;
  color: #3e2e04;
}
.app-launcher-sinks .control-center__powermenu-button:hover,
.app-launcher-controlcenter .control-center__powermenu-button:hover,
.ControlCenter .control-center__powermenu-button:hover {
  background: #232323;
}
.app-launcher-sinks .control-center__button:hover,
.app-launcher-controlcenter .control-center__button:hover,
.ControlCenter .control-center__button:hover {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.2), inset 25px 25px 0 1.589rem rgba(238, 238, 238, 0.2);
}
.app-launcher-sinks .control-center__button:focus,
.app-launcher-controlcenter .control-center__button:focus,
.ControlCenter .control-center__button:focus {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.2), inset 25px 25px 0 1.589rem rgba(238, 238, 238, 0.2);
}
.app-launcher-sinks .control-center__powermenu-button:hover,
.app-launcher-controlcenter .control-center__powermenu-button:hover,
.ControlCenter .control-center__powermenu-button:hover {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.2), inset 25px 25px 0 1.589rem rgba(238, 238, 238, 0.2);
}
.app-launcher-sinks .control-center__powermenu-button:focus,
.app-launcher-controlcenter .control-center__powermenu-button:focus,
.ControlCenter .control-center__powermenu-button:focus {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.2), inset 25px 25px 0 1.589rem rgba(238, 238, 238, 0.2);
}
.app-launcher-sinks .control-center__sink-button:hover,
.app-launcher-controlcenter .control-center__sink-button:hover,
.ControlCenter .control-center__sink-button:hover {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.2), inset 25px 25px 0 1.589rem rgba(238, 238, 238, 0.2);
}
.app-launcher-sinks .control-center__sink-button:focus,
.app-launcher-controlcenter .control-center__sink-button:focus,
.ControlCenter .control-center__sink-button:focus {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.2), inset 25px 25px 0 1.589rem rgba(238, 238, 238, 0.2);
}

.app-launcher-media .player,
.ControlCenter .player {
  background: #232323;
  border-radius: 1.067rem;
  background-size: cover;
  background-position: center;
  transition: 0.5s background ease-in-out;
  margin-top: 0.8rem;
  padding: 1rem;
}
.app-launcher-media .player__icon,
.ControlCenter .player__icon {
  margin: 0.4rem 0.8rem 0 0.4rem;
}
.app-launcher-media .player__title,
.ControlCenter .player__title {
  margin-bottom: 0.3rem;
  font-weight: 500;
}
.app-launcher-media .player__artist,
.ControlCenter .player__artist {
  margin-bottom: 1rem;
  font-weight: 400;
}
.app-launcher-media .player__playpause,
.ControlCenter .player__playpause {
  padding: 0 0.4rem;
  border-radius: 0;
  transition: background 0.3s ease-in-out, border-radius 0.3s ease-in-out, color 0.3s ease-in-out;
}
.app-launcher-media .player__next,
.app-launcher-media .player__previous,
.ControlCenter .player__next,
.ControlCenter .player__previous {
  background: none;
}
.app-launcher-media .player__title-box,
.ControlCenter .player__title-box {
  animation: slide-back 0.3s cubic-bezier(0.05, 0.7, 0.1, 1);
}
.app-launcher-media .player__title-box.dissappear,
.ControlCenter .player__title-box.dissappear {
  animation: slide 0.3s cubic-bezier(0.3, 0, 0.8, 0.15);
}
.app-launcher-media .player__position-slider trough,
.ControlCenter .player__position-slider trough {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 7.143rem;
}
.app-launcher-media .player__position-slider trough highlight,
.ControlCenter .player__position-slider trough highlight {
  min-width: 0.8rem;
  border-radius: 7.143rem;
  background-color: #f1dedc;
  border-radius: 7.143rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.app-launcher-media .player__position-slider trough slider,
.ControlCenter .player__position-slider trough slider {
  background-color: transparent;
  margin: -0.714rem;
  box-shadow: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.app-launcher-media .player__position-slider trough highlight,
.app-launcher-media .player__position-slider trough progress,
.ControlCenter .player__position-slider trough highlight,
.ControlCenter .player__position-slider trough progress {
  background: linear-gradient(to right, #51a4e7, #6cb2eb);
}
.app-launcher-media .player__position-slider trough highlight:hover,
.app-launcher-media .player__position-slider trough highlight:focus,
.ControlCenter .player__position-slider trough highlight:hover,
.ControlCenter .player__position-slider trough highlight:focus {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.2), inset 25px 25px 0 1.589rem rgba(238, 238, 238, 0.2);
}
.app-launcher-media .player__indicator,
.ControlCenter .player__indicator {
  background: rgba(241, 222, 220, 0.18);
  border-radius: 7.143rem;
  transition: 0.3s all ease-in-out;
}
.app-launcher-media .player__indicator.selected,
.ControlCenter .player__indicator.selected {
  background: #f1dedc;
}
.app-launcher-media .cover-art,
.ControlCenter .cover-art {
  background-size: cover;
  background-position: center;
  border-radius: 1.5rem;
  margin-right: 0.4rem;
  min-width: 6rem;
  min-height: 6rem;
}
.app-launcher-media .cover-art image,
.ControlCenter .cover-art image {
  font-size: 8px;
  color: #232323;
}
.app-launcher-media .player-length,
.ControlCenter .player-length {
  margin-right: 0.4rem;
}
.app-launcher-media .player button,
.ControlCenter .player button {
  color: unset;
  border-radius: 1.2rem;
}
.app-launcher-media .player button:focus,
.ControlCenter .player button:focus {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.2), inset 25px 25px 0 1.589rem rgba(238, 238, 238, 0.2);
}
.app-launcher-media .player button:hover,
.ControlCenter .player button:hover {
  background-color: rgba(241, 222, 220, 0.18);
}
.app-launcher-media .player__position-slider trough,
.ControlCenter .player__position-slider trough {
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(238, 238, 238, 0.04);
}

.notification {
  padding: 1rem 1.143rem 0.4rem 1.429rem;
  color: #f1dedc;
  background-color: #171717;
  border-radius: 1.857rem;
}

.notification-app-icon {
  min-height: 3rem;
  min-width: 3rem;
  margin-right: 1rem;
  border-radius: 0.8rem;
}

.notification__icon {
  min-height: 3rem;
  min-width: 3rem;
  margin-right: 1rem;
  border-radius: 0.8rem;
  background: rgba(241, 222, 220, 0.08);
}

.notification__icon.telegram {
  margin-top: 0.571rem;
}

.notification__title {
  font-size: 1rem;
  font-weight: 500;
}

.notification__app-name,
.notification__dot,
.notification__time {
  color: #d8c2be;
  font-size: 0.857rem;
  font-weight: 400;
}

.notification__time {
  padding-right: 0.5rem;
}

.notification__description {
  margin-bottom: 0.571rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.notification__actions {
  margin-top: 0.571rem;
}

.notification__action {
  background: none;
  transition: color 0.1s ease-in-out;
  color: #51a4e7;
  border-radius: 7.143rem;
}
.notification__action:hover {
  color: #ffdad5;
  transition: color 0.1s ease-in-out;
}
.notification__action:focus {
  color: #ffdad5;
  transition: color 0.1s ease-in-out;
}
.notification__action:first-child {
  margin-left: 0;
}
.notification__action:last-child {
  margin-right: 0;
}

.notification__close-button {
  padding: 0;
  min-width: 1.571rem;
  min-height: 1.571rem;
  border-radius: 7.143rem;
  background-color: #3d3231;
  color: #f1dedc;
  font-size: 1.143rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.notification__close-button:hover {
  background: #ffdad5;
  color: #3b0906;
}
.notification__close-button:focus {
  background-color: rgba(238, 238, 238, 0.2);
}

.NotificationsPopup {
  background: none;
}

.notifications-popup {
  min-width: 32.143rem;
}

.notifications-window {
  border-radius: 2.143rem;
  min-width: 28.571rem;
  min-height: 39.286rem;
  padding: 0.714rem 0.714rem 0;
  background: #171717;
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}
.notifications-window .notification {
  border-radius: 0.286rem;
  transition: 0.2s border-radius ease-in-out;
  background-color: rgba(241, 222, 220, 0.08);
}

.notifications-window__clear {
  background: none;
  padding: 0.429rem 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1.2rem;
  color: #f1dedc;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.notifications-window__clear:hover {
  background: #ffdad5;
  color: #3b0906;
}
.notifications-window__clear:focus {
  background-color: rgba(238, 238, 238, 0.2);
}

.notifications-window__list {
  border-radius: 0.8rem;
}
.notifications-window__list revealer .notification {
  border-radius: 1.2rem;
}

.notifications-scrollable {
  border-radius: 2.143rem;
  margin-bottom: 1rem;
}
.notifications-scrollable .frame {
  border-radius: 2.143rem;
}
.notifications-scrollable .overlay-indicator {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.notifications-scrollable .overlay-indicator:hover {
  background-color: transparent;
}
.notifications-scrollable .bottom {
  background: transparent;
}
.notifications-scrollable .top {
  background: transparent;
}

.OSD,
.osd {
  border-radius: 1.5rem;
  background-color: rgba(128, 128, 128, 0.7);
  min-width: 12rem;
  min-height: 15rem;
}
.OSD icon,
.osd icon {
  font-size: 7rem;
  margin-bottom: 2rem;
  color: black;
}

.indicator .progress {
  padding: 0;
  margin: 1rem;
  border-radius: 7.143rem;
  margin-bottom: 1.429rem;
  background-color: #171717;
}
.indicator .progress .fill {
  transition: background-color 3s ease-in-out;
  border-radius: 7.143rem;
  background-color: white;
  color: #141414;
  transition: min-width 0.1s;
}
.indicator .progress .fill.muted {
  background-color: #171717;
}

.indicator {
  min-height: 0.143rem;
}

.osd-indicator-icon {
  margin-bottom: 1rem;
  color: black;
}

.PopupMenu {
  background: none;
}

.popup-menu {
  min-height: 28.571rem;
  background: #171717;
  border-radius: 2.857rem;
  padding: 0 1.429rem;
}
.popup-menu.sink {
  min-width: 25rem;
}
.popup-menu.mixer {
  min-width: 35.714rem;
}

.profiles {
  min-height: 19.286rem;
}

.popup-menu__header {
  margin: 2.143rem 1.143rem;
  margin-bottom: 0;
}
.popup-menu__header label {
  font-size: 1.286rem;
  font-weight: 600;
}

.popup-menu__content > * > * {
  background: none;
}

.popup-menu__item {
  background: none;
  padding: 1.286rem;
  color: #f1dedc;
  border-radius: 7.143rem;
  transition: background 0.1s ease;
}
.popup-menu__item label {
  font-size: 1rem;
  font-weight: 500;
}
.popup-menu__item icon {
  margin-right: 1.143rem;
}
.popup-menu__item:hover {
  background-color: rgba(241, 222, 220, 0.08);
}
.popup-menu__item:last-child {
  margin-bottom: 1.429rem;
}

.mixer__item {
  padding: 0.714rem;
}
.mixer__item icon {
  font-size: 2.286rem;
  margin-right: 0;
}
.mixer__item:hover {
  background: none;
}

.mixer__slider {
  padding: 0;
  margin: 0;
}
.mixer__slider trough {
  margin-top: 0.429rem;
  border-radius: 7.143rem;
  background-color: rgba(241, 222, 220, 0.08);
  min-height: 1rem;
}
.mixer__slider trough highlight,
.mixer__slider trough progress {
  border-radius: 7.143rem;
  background-color: #51a4e7;
  box-shadow: inset 1rem 1rem 1rem 1rem #51a4e7;
  border-radius: 7.143rem;
}
.mixer__slider trough slider {
  border-radius: 7.143rem;
  min-height: 1rem;
  min-width: 1rem;
  background-color: transparent;
  box-shadow: none;
}
.mixer__slider trough highlight:hover,
.mixer__slider trough highlight:focus {
  box-shadow: inset 0 0 0 99px #7CB9E9;
}

.mixer__value {
  background: rgba(241, 222, 220, 0.08);
  border-radius: 7.143rem;
  min-width: 4rem;
}

.bluetooth__percentage {
  background: #73342c;
  color: #ffdad5;
  border-radius: 7.143rem;
  padding: 0 0.857rem;
  margin-left: 0.857rem;
}

.mixer-placeholder {
  margin-top: -3.571rem;
}
.mixer-placeholder label {
  font-size: 1.286rem;
}

.powermenu {
  padding: 1.714rem;
  border-radius: 2.143rem;
  background: #171717;
  border: 1px solid rgba(238, 238, 238, 0.04);
}

.powermenu__button {
  padding: 0;
  background: rgba(241, 222, 220, 0.08);
  color: #f1dedc;
  min-width: 7.143rem;
  min-height: 7.143rem;
  border-radius: 7.143rem;
}
.powermenu__button:hover, .powermenu__button:focus {
  color: #141414;
  background: #51a4e7, linear-gradient(0deg, rgba(241, 222, 220, 0.18), rgba(241, 222, 220, 0.18));
}
.powermenu__button:active {
  background: #ffdad5, linear-gradient(0deg, rgba(241, 222, 220, 0.08), rgba(241, 222, 220, 0.08));
}

.powermenu-icon {
  font-size: 1.3rem;
}

.verification {
  min-width: 21.429rem;
  padding: 1.714rem;
  border-radius: 2.143rem;
  background: #171717;
}

.verification__title {
  font-size: 1.429rem;
  font-weight: 500;
}

.verification__description {
  font-size: 1.143rem;
  font-weight: 400;
}

/* .verification__button {
	background: $inverse_surface_transparent;
	border-radius: 7.143rem;
	padding: 0.571rem 1.571rem;
	&:hover,
	&:focus {
		background: $secondary;
		color: $on_secondary;
	}
} */
.dashboard {
  border-radius: 2.714rem;
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.calendar__header {
  padding: 1rem 1rem;
}

.calendar-weekdays {
  padding: 0rem 0.4rem;
}

.calendar-days {
  padding: 0rem 0.4rem 0.4rem 0.4rem;
}

.block {
  border: 1px solid rgba(238, 238, 238, 0.04);
  background: #171717;
  border-radius: 2.143rem;
  transition: background-color 1s ease, color 1s ease;
}

.placeholder {
  color: #a08c89;
}
.placeholder label {
  font-size: 20rem;
}

.calendar__header .sidebar-calendar-monthshift-btn {
  margin-left: 1rem;
  padding: 0 0.8rem;
}
.calendar__header .calendar__monthyear {
  padding: 0.5rem 1rem;
}
.calendar__header button {
  padding: 0.4rem;
  border-radius: 1.2rem;
  background-color: #3d3231;
  color: #f1dedc;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.calendar__header button:hover {
  background: #ffdad5;
  color: #3b0906;
}
.calendar__header button:focus {
  background-color: rgba(238, 238, 238, 0.2);
}

.calendar__monthyear * {
  font-size: 1.286rem;
  font-weight: 500;
}

.calendar__button {
  border-radius: 7.143rem;
  padding: 0.5rem 0.75rem;
  margin: 0.2rem;
}
.calendar__button:hover {
  background: #ffdad5;
  color: #3b0906;
}
.calendar__button:focus {
  background-color: rgba(238, 238, 238, 0.2);
}

.calendar__button__today {
  border-radius: 7.143rem;
  background: #51a4e7;
  color: #141414;
}

.calendar__button__other-month {
  color: #a08c89;
}

.todos {
  border: 1px solid rgba(238, 238, 238, 0.04);
  min-height: 0;
  padding: 0.4rem 0.6rem 0.2rem 0.6rem;
}
.todos revealer:last-child .todo {
  margin-bottom: 0.857rem;
}

.todos__combobox * {
  font-size: 20rem;
}
.todos__combobox button {
  margin: 0 0.714rem;
  padding: 0.857rem 0 20rem 0;
}

.todos__heading {
  margin-top: 0.3rem;
  font-size: 1.3rem;
}

.todos__scrollable {
  margin-bottom: 1rem;
}
.todos__scrollable .top,
.todos__scrollable .bottom {
  background: transparent;
}

.todo {
  min-height: 3.429rem;
  padding: 0 0.714rem;
  font-weight: 400;
}
.todo label {
  font-size: 1.143rem;
}
.todo .todo-toggle:focus .todo__check {
  color: #51a4e7;
}
.todo .todo-toggle:hover .todo__check {
  color: rgba(81, 164, 231, 0.6);
}
.todo .todo-remove {
  border-radius: 1.2rem;
  padding: 0 0.2rem;
}
.todo .todo-remove:focus {
  background-color: #e55f86;
}
.todo .todo-remove:hover {
  background-color: #f38ba8;
}

.todo__check,
.todo__delete {
  font-size: 1.429rem;
  color: #d8c2be;
}

.todos__input_box {
  padding: 0 0.714rem;
  min-height: 3rem;
}
.todos__input_box icon {
  font-size: 1.429rem;
  color: #51a4e7;
}

.todos__input {
  padding: 0;
  font-size: 1.143rem;
  background: none;
  font-weight: 500;
  color: #eeeeee;
  caret-color: #eeeeee;
}

.todos-box.todos-20 {
  min-height: 20rem;
}

.todos-box.todos-17-5 {
  min-height: 17.5rem;
}

.todos-box.todos-14 {
  min-height: 14rem;
}

.todos-box.todos-10-5 {
  min-height: 10.5rem;
}

.todos-box.todos-7 {
  min-height: 7rem;
}

.todos-box.todos-3-5 {
  min-height: 3.5rem;
}

.todos-box.todos-0 {
  min-height: 0rem;
}

.weather-refresh {
  all: unset;
  border: none;
  margin: 0;
  padding: 0;
}

.weather-refresh:hover {
  color: gray;
}

.weather-refresh:active {
  color: black;
}

.weather-info {
  background-color: rgba(81, 164, 231, 0.76);
  border-radius: 1.067rem;
  padding: 0.55em;
}

.weather-temperature {
  margin-bottom: 0.6em;
}

.weather-day {
  padding: 0.133rem;
}

.weather-day:first-child {
  padding: 0;
}

.weather-popup-box {
  padding: 0.8rem;
}

.weather .weather-info .weather-icon {
  font-size: 1.5em;
  margin-top: 0.3em;
  margin-bottom: 0.15em;
}
.weather .weather-info .weather-temperature {
  all: unset;
  font-size: 1.2em;
  margin-left: 0.5em;
}
.weather .weather-spacing {
  padding-left: 0.6rem;
}
.weather .qs-weather-box-child .weather-icon {
  font-size: 1.5em;
}
.weather .qsweather-widget {
  margin: 0;
  padding: 0;
  border-radius: 1.067rem;
}
.weather .qs-weather-box-main {
  margin: 0.5em;
}
.weather .qs-weather-box-main .weather-icon {
  font-size: 2.42em;
  margin-left: 0.5em;
}
.weather .qs-weather-box-main .weather-temperature {
  all: unset;
  font-size: 1.6em;
}
.weather .qs-weather-box-main .weather-rain {
  margin-left: 1.2em;
}
.weather .qs-weather-box-main .weather-hour {
  margin-right: 1em;
}
.weather .qs-weather-box-child {
  padding-bottom: 0.7em;
}
.weather .qs-weather-box-child .weather-icon {
  margin-top: 0.3em;
  font-size: 1.6rem;
}
.weather .qs-weather-box-child .weather-temperature {
  all: unset;
  margin-bottom: 0.2em;
  font-size: 1.333rem;
}

.weather.panel-button label {
  font-size: 1.067rem;
}

.weather-popup .qs-weather-box-main {
  min-width: 16.5em;
}

.weather-popup .weather-info {
  min-width: 5em;
  min-height: 10em;
}

.weather-popup .qs-weather-box-child {
  min-width: 5em;
}

.weather .sunset {
  background: linear-gradient(to bottom, #ff6f61, #ffca58, #f0e68c);
  color: #000000;
}
.weather .sunrise {
  background: linear-gradient(to bottom, #ffcc00, #ff6f61, #ff5e62, #d55f74);
  color: #000000;
}
.weather .few-clouds {
  background: linear-gradient(to bottom, #80b3ff, #ffffff, #ffdb4d);
  color: #000000;
}
.weather .thunderstorm {
  background: linear-gradient(to bottom, #0c0e23, #1a1c38, #121320, #0c0e23);
  color: #ffffff;
}
.weather .clear-night {
  background: linear-gradient(to bottom, #2c3e50, #1a2533);
  color: #ffffff;
}
.weather .clear-night2 {
  background: linear-gradient(to bottom, #001f3f, #002f4f, #003f5f, #004f6f, #005f7f);
  color: #ffffff;
}
.weather .sun {
  background: linear-gradient(to bottom, #ffeb99, #ffe580, #ffd866, #ffcf4c, #ffc333);
  color: #000000;
}
.weather .cloudy {
  background: linear-gradient(to bottom, #c4c4c4, #d1d1d1, #dedede, #ebebeb, #f8f8f8);
  color: #000000;
}
.weather .cloudy-night {
  background: linear-gradient(to bottom, #1c2331, #212a38, #263141, #2b3749, #303d51);
  color: #ffffff;
}
.weather .fog {
  background: linear-gradient(to bottom, #d8d8d8, #e2e2e2, #ececec, #f6f6f6, #ffffff);
  color: #000000;
}
.weather .fog-night {
  background: linear-gradient(to bottom, #1c2331, #1c2331, #1c2331, #293547, #38475f);
  color: #ffffff;
}
.weather .heavy-rain {
  background: linear-gradient(to bottom, #2c3e50, #34495e, #2c3e50, #34495e, #2c3e50);
  color: #000000;
}
.weather .heavy-rain-night {
  background: linear-gradient(to bottom, #050818, #070b1d, #0a0e22, #0d1126, #10152b);
  color: #ffffff;
}
.weather .light-rain {
  background: linear-gradient(to bottom, #547aad, #6692b8, #78a9c3, #8abfd0, #9cd7dd);
  color: #000000;
}
.weather .rain-night {
  background: linear-gradient(to bottom, #0e1620, #121c2a, #162133, #18273c, #1c2c46);
  color: #ffffff;
}
.weather .partly-cloudy {
  background: linear-gradient(to bottom, #a8c9f0, #c4dfea, #f0f0cc, #ffd700, #f0f0cc, #c4dfea, #a8c9f0);
  color: #000000;
}
.weather .partly-cloudy-night {
  background: linear-gradient(to bottom, #040d1c, #081427, #0c1a32, #101f3d, #142348);
  color: #ffffff;
}
.weather .rain-showers {
  background: linear-gradient(to bottom, #5e7d99, #6a8ba6, #7698b3, #87a5bf, #97b3cb, #a6c0d8, #b4cedf);
  color: #000000;
}
.weather .rainshowers-night {
  background: linear-gradient(to bottom, #050818, #070b1d, #0a0e22, #0d1126, #10152b);
  color: #ffffff;
}
.weather .snow {
  background: linear-gradient(to bottom, #d0e6ec, #e0f0f5, #f0f5f9, #f5fafd, #ffffff);
  color: #000000;
}
.weather .snow-night {
  background: linear-gradient(to bottom, #0e1620, #162133, #1c263f, #232c4c, #293259);
  color: #ffffff;
}
.weather .sleet {
  background: linear-gradient(to bottom, #d0e6ec, #e0f0f5, #f0f5f9, #ffffff, #f0f5f9, #e0f0f5, #d0e6ec);
  color: #000000;
}
.weather .sleet-night {
  background: linear-gradient(to bottom, #050818, #08142a, #0c1d3b, #101f47, #142556);
  color: #ffffff;
}
.weather .unknown {
  background: red;
  color: blue;
}

.overview {
  border: 1px solid rgba(238, 238, 238, 0.04);
  background-color: #171717;
  border-radius: 2rem;
  padding: 0.5rem;
}
.overview .active.workspace {
  border-color: #51a4e7;
}
.overview .eventbox:hover {
  border-radius: 2em;
  box-shadow: inset 0 0 5px 5px rgba(238, 238, 238, 0.154);
}
.overview .workspace {
  transition: 200ms;
  border-radius: 2em;
  background-color: rgba(238, 238, 238, 0.06);
  border: 1px solid rgba(238, 238, 238, 0.03);
  margin: 0 0.2rem;
}
.overview .client {
  transition: 200ms;
  background-color: rgba(238, 238, 238, 0.06);
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
  border-radius: 1rem;
  margin: 0.5rem;
}
.overview .client:focus {
  background-color: rgba(238, 238, 238, 0.154);
}
.overview .client:hover {
  background-color: rgba(238, 238, 238, 0.154);
}
.overview .client:active, .overview .client.on, .overview .client.active, .overview .client:checked {
  background-image: linear-gradient(to right, #51a4e7, #6cb2eb);
  background-color: #51a4e7;
}
.overview .client:active:hover, .overview .client.on:hover, .overview .client.active:hover, .overview .client:checked:hover {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03), inset 0 0 0 99px rgba(238, 238, 238, 0.154);
}
.overview .client:disabled {
  box-shadow: none;
  background-color: transparent;
}
.overview .client.hidden {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  -gtk-icon-transform: scale(0);
  transition: 0;
}
.overview .client.hidden * {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  -gtk-icon-transform: scale(0);
}

/*# sourceMappingURL=style.css.map */
