@use "./variables.scss" as *;

// popover
.quick-settings {
  .toggles {
    &.active {
      // background-color: blue;
    }

    &.inactive {
      // background-color: red;
    }
  }
}

// window
window#quicksettings {
  background: transparent;
  color: $fgColor;

  box#quicksettings-content {
    background: $bgColor;
    border-radius: 12px;
    padding: 6px;

    button {
      border-radius: $radius;
      color: $fgColor;
    }

    .toggles {
      min-width: $qsTogglesWidth;
      min-height: $qsTogglesHeight;

      image {
        margin: $qsTogglesMargin;
      }

      &.active {
        background: $accentGradient;
        color: $bgColor;
      }
    }

    .media-player-image {
      // border-radius: $radius;
      background-size: cover;
      // background-repeat: repeat;
      border: 1px solid red;
      // background-position: center;
    }
  }
}
