@use "./variables.scss" as *;

// popover
.quick-settings {
  .toggles {
    &.active {
      // background-color: blue;
    }

    &.inactive {
      // background-color: red;
    }
  }
}

// window
window#quicksettings {
  background: transparent;
  color: $fgColor;

  box#quicksettings-content {
    background: $bgColor;
    border-radius: 12px;
    padding: 6px;
  }
}
