@use "./variables.scss" as *;

window#quicksettings {
  background: transparent;
  color: $fgColor;

  box.content {
    background: $bgColor;
    border-radius: 12px;
    padding: 6px;

    button {
      border-radius: $radius;
      color: $fgColor;
    }

    .toggles {
      min-width: $qsTogglesWidth;
      min-height: $qsTogglesHeight;

      image {
        margin: $qsTogglesMargin;
      }

      &.active {
        background: $accentGradient;
        color: $bgColor;
      }

      &.emptyToggle {
        margin: $qsTogglesMargin; // same as toggle with image margin
      }
    }

    .qs-menu {
      padding: $qsMenuPadding;
      background: $inverseSurfaceTransparent;
      border-radius: $radius * 1.5;
      color: $fgColor;

      .menu-button {
        // padding: 0.5rem 1.5rem;
        padding: 0;
        margin: 0;

        &.filled {
          background: $accentGradient;
          color: $bgColor;
        }

        &.outlined {
          background: none;
          border: 1px solid $shadowTransparent;
        }

        &:hover,
        &:focus {
          box-shadow: $hoverShadow;
        }
      }

      .qs-menu-content {
        label {
          margin-left: 1rem;
        }

        button image {
          padding: 0rem 0.5rem;
        }
      }

      .qs-menu-icon-record {
        color: red;
      }

      .qs-menu-screen-record-content {
        image {
          margin-right: 1rem;
        }
      }

      button {
        background: $bgColor;

        &:hover {
          box-shadow: $hoverShadow;
        }

        &:focus {
          box-shadow: $focusShadowTransparent;
        }
      }

      .qs-menu-label {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
  }
}
