@use "sass:string";
@use "./variables.scss" as *;

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
// $fg-color: #{"@theme_fg_color"};
// $bg-color: #{"@theme_bg_color"};

window#launcher {
    all: unset;

    box.Applauncher {
        background-color: $bg-color;
        border-radius: $appLauncherRadius;
        // margin: 1rem;
        // padding: .8rem;
        box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);

        box.not-found {
            padding: 1rem;

            icon {
                font-size: 6em;
                color: gtkalpha($fg-color, .7);
            }

            label {
                color: gtkalpha($fg-color, .9);
                font-size: 1.2em;
            }
        }

        .app-launcher-header {
            margin: $appLauncherHeaderMargin;

            icon {
                margin: $appLauncherEntryMargin;
                font-size: $appLauncherEntryIconSize;
            }

            entry {
                background: none;
            	box-shadow: none;
            }
        }

        .app-launcher-scrollable {
            border-top: 1px solid $hover;
            padding: $appLauncherScrollablePadding;

            .frame {
                border: unset;
            }

            .top,
            .bottom {
                background: transparent;
            }

            .AppButton {
                min-width: 0;
                min-height: 0;
                padding: $appLauncherButtonPadding;
                background: unset;
                border-radius: $appLauncherRadius;
                margin: 0 0.4rem;

                .app-button-content {
                }

                &:focus {
                    background: $accent;
                    color: $bg-color;

                    icon {
            			-gtk-icon-shadow: 2px 2px $bg-color;
                    }
                }

                &:hover {
                }

                icon {
                    font-size: $appLauncherButtonIconSize;
                    margin-right: 1rem;
                }
    
                label.description {
                    font-weight: 300;
                    color: gtkalpha($fg-color, .8);
                }
            }
        }
    }
}
