@use "sass:color";
@use "./colors.scss" as *;

window.Bar {
    border: none;
    box-shadow: none;
    background-color: $bg-color;
    color: $fg-color;
    // font-size: 1.1em;
    // font-weight: bold;

    // label {
    //     margin: 0 8px;
    // }

    // this removes top and botton padding that is there on buttons in bar, controls bar height
    button {
        min-height: $barHeight;
        padding: 0rem 0.4rem;
    }

    .Workspaces {
        transition: all 0.3s;
        border-radius: $radius;

        &:hover {
            background-color: color.adjust($fg-color, $alpha: -0.8);
        }

        .workspace-button {
            &:first-child {
                padding-left: 0.5rem;
            }

            &:last-child {
                padding-right: 0.3rem;
            }

            transition: all 0.3s;
            padding: 0;
            background: transparent;
            box-shadow: none;
        }

        .workspace-button:hover .workspace-dot{
            background-color: $accent_transparent;
        }

        .workspace-button.occupied .workspace-dot{
            background-color: $fg-color;
        }

        .workspace-button.active .workspace-dot {
            background-color: $accent;
            margin: 0.6rem 0;
            padding: 0 1rem;
        }

        .workspace-dot {
            transition: all 0.3s;
            margin: 0.7rem 0.35rem;
            padding: 0;
            background-color: gray;//todo
            border-radius: $radius;
        }
    }

    .SysTray {
        button {
            padding: 0 0.5rem;
        }
    }

    .FocusedClient {
        color: $accent;
    }

    .Media .Cover {
        min-height: $height;
        min-width: $width;
        border-radius: $radius;
        background-position: center;
        background-size: contain;
    }

    .Battery label {
        padding-left: 0;
        margin-left: 0;
    }

    .AudioSlider {
        * {
            all: unset;
        }

        icon {
            margin-right: .6em;
        }

        & {
            margin: 0 1em;
        }

        trough {
            background-color: color.adjust($fg-color, $alpha: -0.8);
            border-radius: $radius;
        }

        highlight {
            background-color: $accent;
            min-height: .8em;
            border-radius: $radius;
        }

        slider {
            background-color: $fg-color;
            border-radius: $radius;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
        }
    }

    .bar-button {
        border-radius: $radius;

        &.active {
            background-color: lightblue;
        }
    }

    // first button, it is not centered otherwise
    .app-launcher-button {
        padding-left: 0.2rem;
        padding-right: 0.6rem;
    }

    .powermenu-button {
        padding-left: 0.6rem;
    }

    .system-indicator {
        padding: 0rem 0.25rem;

        &:last-child {
            padding-right: 0rem;
        }
    
        &:first-child {
            padding-left: 0rem;
        }
    }
}
