@use "sass:color";
@use "./variables.scss" as *;

window.Bar {
    border: none;
    box-shadow: none;
    background-color: $bg-color;
    color: $fg-color;
    // font-size: 1.1em;
    // font-weight: bold;

    // label {
    //     margin: 0 8px;
    // }

    // this removes top and botton padding that is there on buttons in bar, controls bar height
    button {
        min-height: $barHeight;
        padding: 0rem 0.4rem;
        background-color: transparent;
    }

    .SysTray {
        button {
            padding: 0 0.5rem;
        }
    }

    .FocusedClient {
        color: $accent;
    }

    .Media .Cover {
        min-height: $barMediaCoverHeight;
        min-width: $barMediaCoverWidth;
        border-radius: $radius;
        background-position: center;
        background-size: contain;
    }

    .Battery label {
        padding-left: 0;
        margin-left: 0;
    }

    .AudioSlider {
        * {
            all: unset;
        }

        icon {
            margin-right: .6em;
        }

        & {
            margin: 0 1em;
        }

        trough {
            background-color: color.adjust($fg-color, $alpha: -0.8);
            border-radius: $radius;
        }

        highlight {
            background-color: $accent;
            min-height: .8em;
            border-radius: $radius;
        }

        slider {
            background-color: $fg-color;
            border-radius: $radius;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
        }
    }

    .bar-button {
        border-radius: $radius;

        &.active {
            background-color: $accent_transparent;
        }
    }

    // first button, it is not centered otherwise
    .app-launcher-button {
        padding-left: 0.2rem;
        padding-right: 0.6rem;

        // fix as it does not work with background-color: transparent;
        &:hover {
            background-color: color.adjust($bg-color, $alpha: -0.8);
        }
    }

    .powermenu-button {
        padding-left: 0.6rem;
    	color: $red_transparent;
    }

    .system-indicator {
        // padding: 0rem 0.25rem;

        &:last-child {
            // padding-right: 0rem;
        }
    
        &:first-child {
            // padding-left: 0rem;
        }
    }

    .bt-indicator-icon {
        color: $accent;
    }

    .mic-indicator-icon {
        color: greenyellow;
    }

    .mic-indicator-icon-mute {
        color: $red_transparent;
    }

    .app-launcher-button {
    	color: $accent;
    }
}
