@use "./variables.scss" as *;

switch {
    padding: 5px;

    &:checked {
        background-color: $accent;
    }

    &:focus,
    &:hover {
        box-shadow: $togglesHoverShadow;
    }
}

switch slider {
    background-color: $bg-color;
    box-shadow: none;
}

switch:checked slider {
    background-color: $bg-color;
}
