@use "./variables.scss" as *;

.control-center {
    button {
        border-radius: $radius;
    }

    .qs-main-page {
        .qs-toggles {
            .qs-page {
                .toggles-space {
                    margin: $togglesSpace;
                }

                .toggles-box-space {
                    margin-bottom: $togglesBoxSpace;
                }

                .toggles {
                    min-width: $qsTogglesWidth;
                    min-height: $qsTogglesHeight;
      
                    icon {
                        margin-left: $qsTogglesIconMarginLeft;
                    }

                    label {
                        margin-left: $qsTogglesLabelMarginLeft;
                    }

                    &.active {
                        background: $accentGradient;
                        color: $bg-color;

                        &:hover {
                            box-shadow: $togglesHoverShadow;
                        }

                        &:focus {
                            box-shadow: $togglesShadowActive;
                        }
                    }
                }
            }

            .qs-pages-box {
                .workspace-dot {
                    margin-top: 0.65rem;
                    margin-bottom: 0.65rem;
                }

                .workspace-button.active .workspace-dot {
                    padding-left: 0.05rem;
                    padding-right: 0.05rem;
                    margin-top: 0.55rem;
                    margin-bottom: 0.55rem;
                }
            }
        }

        .volume-slider-overlay {
            * {
                padding: 0;
                margin: 0;
                border: none;
                box-shadow: none;
                border-radius: $radius;
                color: $bg-color;
            }

            .slider-volume-icon {
                margin-left: $qsSliderIconMarginLeft;
            }

            trough {
                highlight,
                progress {
                    background: $accentGradient;
                }

                highlight:hover {
                    box-shadow: $togglesHoverShadow;
                }

                highlight:focus {
                    box-shadow: $togglesShadowActive;
                }

                highlight {
                    min-width: $qsSliderHighlightWidth;
                    background: $accentGradient;
                }

                slider {
                    background: transparent;
                }
            }
        }
    }
}
