@use "./variables.scss" as *;

// $fg-color: #{"@theme_fg_color"};
// $bg-color: #{"@theme_bg_color"};

window.OSD {
    box.OSD {
        min-width: $osdMinWidth;
        min-height: $osdMinWidth;

        border-radius: $radius;
        background-color: $osd;
        padding: 13px 16px;
        margin: 13px;
        box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.4);
    }

    icon {
        font-size: 4rem;

        &.muted {
            color: $bg-color;
        }
    }

    label {
        font-size: 2.4rem;
    }

    levelbar {
        trough {
            border-radius: $radius;
            background-color: $black;
            margin: 1px 0;

            .filled {
                background-color: $shadowColor;
            }

            .low {
                min-width: $osdLevelbarLowWidth;
            }
        }

        block {
            min-height: $osdLevelbarHeight;
            border-radius: $radius;
        }
    }
}
