@use "./variables.scss" as *;

.Popup .quicksettings,
.Popup .dashboard,
.Popup .popup {
    background-color: $bg-color;
    box-shadow: 2px 3px 7px 0 rgba(0,0,0,0.4);
    border-radius: $radius;
    padding: 12px;
}

window#powermenu.Popup {
    background: $popupTransparent;
}
