@use "./variables.scss" as *;

window#powermenu {
    .powermenu {
        .powermenu-button {
            padding: 0;
            margin: 0.5rem;
            min-width: 7rem;
            min-height: 7rem;
            border-radius: 50%;

            &:focus {
                background: $accentGradient;
                color: $bg-color;
            }
        }
    }
}
