@use 'sass:color' as color;

$fg-color: #eeeeee;
$accentFg: #141414;

$background: #1a1110;

$blue: #51a4e7;

$blue_container: #374379;

$blue_source: #89b4fa;

$blue_value: #89b4fa;

$error: #ffb4ab;

$error_container: #93000a;

$green: #00D787;

$green_container: #354e16;

$green_source: #a6e3a1;

$green_value: #a6e3a1;

$inverse_on_surface: #392e2c;

$inverse_primary: #904a42;

$inverse_surface: #f1dedc;

$on_background: #f1dedc;

$on_blue: #1f2c61;

$on_blue_container: #dde1ff;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_green: #1f3701;

$on_green_container: #cdeda3;

$on_orange: #55200a;

$on_orange_container: #ffdbcf;

$on_primary: $accentFg;

$on_primary_container: #ffdad5;

$on_primary_fixed: #3b0906;

$on_primary_fixed_variant: #73342c;

$on_purple: #462152;

$on_purple_container: #fad7ff;

$on_red: #561d23;

$on_red_container: #ffdadb;

$on_secondary: #442926;

$on_secondary_container: #ffdad5;

$on_secondary_fixed: #2c1512;

$on_secondary_fixed_variant: #5d3f3b;

$on_surface: #f1dedc;

$on_surface_variant: #d8c2be;

$on_tertiary: #3e2e04;

$on_tertiary_container: #fcdfa6;

$on_tertiary_fixed: #261a00;

$on_tertiary_fixed_variant: #574419;

$on_yellow: #452b00;

$on_yellow_container: #ffddb3;

$orange: #E79E64;

$orange_container: #72361e;

$orange_source: #fab387;

$orange_value: #fab387;

$outline: #a08c89;

$outline_variant: #534341;

$primary: $blue;
$primaryShade: #7CB9E9;

$primary_container: #73342c;

$primary_fixed: #ffdad5;

$primary_fixed_dim: #ffb4aa;

$purple: #e6b6f1;

$purple_container: #5e386a;

$purple_source: #cba6f7;

$purple_value: #cba6f7;

$red: #e55f86;

$red_container: #723339;

$red_source: #f38ba8;

$red_value: #f38ba8;

$scrim: #000000;

// $secondary: #e7bdb7;
$secondary: #232323;

$secondary_container: #5d3f3b;

$secondary_fixed: #ffdad5;

$secondary_fixed_dim: #e7bdb7;

$shadow: #000000;

$source_color: #f95445;

// $surface: #1a1110;
$surface: #141414;

$surface_bright: #423735;

$surface_container: #271d1c;

$surface_container_high: #322826;

$surface_container_highest: #3d3231;

$surface_container_low: #231918;

$surface_container_lowest: #140c0b;

$surface_dim: #1a1110;

$surface_tint: #ffb4aa;

$surface_variant: #534341;

$tertiary: #dfc38c;

$tertiary_container: #574419;

$tertiary_fixed: #fcdfa6;

$tertiary_fixed_dim: #dfc38c;

$yellow: #EBFF71;

$yellow_container: #633f00;

$yellow_source: #f9e2af;

$yellow_value: #f9e2af;
$magenta: #9077e7;
$teal: #51e6e6;

$theme: 'dark';
$primary_transparent: color.adjust($primary, $alpha: -0.4);
$primary_transparent_less: color.adjust($primary, $alpha: -0.2);
$scrim_transparent: color.adjust($scrim, $alpha: -0.68);
// $surface_transparent: color.adjust($surface, $alpha: -0.2);
$bg-color: #171717;
$bgColorTransparent: color.adjust($bg-color, $alpha: -0.4);

// $surface_transparent: color.adjust($surface, $alpha: 0);
$surface_transparent: $bg-color;
$on_surface_transparent: color.adjust($on_surface, $alpha: -0.3);
$inverse_surface_transparent: color.adjust($inverse_surface, $alpha: -0.92);
$inverse_surface_transparent_variant: color.adjust($inverse_surface, $alpha: -0.82);
$inverse_surface_transparent_overlay: linear-gradient(0deg, $inverse_surface_transparent, $inverse_surface_transparent);
$inverse_surface_transparent_variant_overlay: linear-gradient(0deg, $inverse_surface_transparent_variant, $inverse_surface_transparent_variant);

$_widget-bg: $fg-color;
$accent: $blue;
$red_transparent: color.adjust($red, $alpha: -0.3);
$_border-color: $fg-color;
$shadowColor: #eeeeee;
$hover: color.adjust($shadowColor, $alpha: -0.80);
$osd: color.adjust(gray, $alpha: -0.30);
$shadowTransparent: color.adjust($shadowColor, $alpha: -0.50);
$buttonShadow: inset 0 0 0 1px $hover, inset 0 0 0 99px $hover;
$sliderGradient: linear-gradient(to right, #51a4e7, #6cb2eb);
$containerShadowInset: inset 0 0 2px 0 rgba(238, 238, 238, 0.1);
$containerShadowDarkInset: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
$containerShadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
$containerBorder: 1px solid rgba(238, 238, 238, 0.04);
$playerSliderShadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1);
