@use 'sass:color' as color;
@use "./colors.scss" as *;

* {
	font-size: 1rem;
	outline: none;
	border: none;
	text-shadow: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
	-gtk-icon-shadow: none;
}

icon {
	box-shadow: none;
	text-shadow: none;
}

slider {
	border: none;
	outline: none;
	background: $inverse_surface_transparent_variant;
}

separator {
	background: none;
}

window {
	background: none;
}

button {
	background: none;
	border: none;
	box-shadow: none;
}
label {
	box-shadow: none;
}

window.popup {
	> * {
		border: none;
		box-shadow: none;
	}

	menu {
		margin-top: 0.857rem;
		border-radius: 1.857rem;
		background-color: $surface_transparent;
		padding: 0.714rem;

		// separator {
		//     background-color: $border_color;
		// }

		menuitem {
			min-width: 10rem;
			padding: 0.857rem 0.429rem;
			color: $on_surface;
			border-radius: 7.143rem;
			transition: background 0.1s ease;
			&:hover {
				background: $inverse_surface_transparent;
			}
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

switch {
	border: 0.143rem solid $outline;
	border-radius: 7.143rem;
	background-color: $surface_container_highest;
}

switch slider {
	box-shadow: none;
	border-radius: 7.143rem;
	background-color: $outline;
}

switch:hover slider,
switch:active slider {
	background-color: $on_surface_variant;
}

switch:active {
	background-color: color.mix($surface_container_highest, $on_surface, 0.08 * 1%);
}

switch:checked {
	background-color: $primary;
	border: 0.143rem solid $primary;
}

switch:checked slider {
	background-color: $on_primary;
}
