@use "./colors.scss" as *;

.OSD,
.osd {
	border-radius: 1.5rem;

	// background: $whitesmoke;
	background-color: $osd;

	min-width: 12rem;
	min-height: 15rem;

	icon {
		font-size: 7rem;
		margin-bottom: 2rem;
		color: black;
	}
}

.indicator .progress {
	padding: 0;
	margin: 1rem;

	border-radius: 7.143rem;
	margin-bottom: 1.429rem;
	background-color: $surface_transparent;

	.fill {
		transition: background-color 3s ease-in-out;
		border-radius: 7.143rem;
		background-color: white;
		color: $on_primary;
		transition: min-width 0.1s;
		&.muted {
			background-color: $surface_transparent;
			// color: $on_surface;
		}
	}
}

.osd-indicator-box {
}

.osd-indicator-icon {
}
