@use "./colors.scss" as *;

.powermenu {
	padding: 1.714rem;
	border-radius: 2.143rem;
	background: $surface_transparent;
	border: $containerBorder;
}

.powermenu__button {
	padding: 0;
	background: $inverse_surface_transparent;
	color: $on_surface;
	min-width: 7.143rem;
	min-height: 7.143rem;
	border-radius: 7.143rem;
	&:hover,
	&:focus {
		color: $on_primary;
		background: $primary, $inverse_surface_transparent_variant_overlay;
	}
	&:focus {
		// box-shadow: 0 0 0 0.071rem $primary;
	}
	&:active {
		background: $on_primary_container, $inverse_surface_transparent_overlay;
	}
}

.powermenu-icon {
	font-size: 1.3rem;
}

.verification {
	min-width: 21.429rem;
	padding: 1.714rem;
	border-radius: 2.143rem;
	background: $surface_transparent;
}

.verification__title {
	font-size: 1.429rem;
	font-weight: 500;
}
.verification__description {
	font-size: 1.143rem;
	font-weight: 400;
}
/* .verification__button {
	background: $inverse_surface_transparent;
	border-radius: 7.143rem;
	padding: 0.571rem 1.571rem;
	&:hover,
	&:focus {
		background: $secondary;
		color: $on_secondary;
	}
} */
