/*
 * vim: ft=less
 */

/* original bg color */
@define-color cc-bg rgba(36, 39, 58, 1.0);
/* background color */
/* @define-color cc-bg rgba(0, 0, 0, 0.9); */
@define-color cc-bg rgba(0, 0, 0, 1);

/* gnome accent for power menu */
/* @define-color cc-bg rgba(53, 53, 53, 1); */
/* @define-color cc-bg rgba(32, 32, 32, 1); */



/* background color of items in the grid */
@define-color mpris-bg rgb(30, 32, 48);
@define-color mpris-bg #1D1D1D;


@define-color noti-border-color rgba(255, 255, 255, 0);

/* notification color */
@define-color noti-bg rgb(54, 58, 79);
@define-color noti-bg rgba(0, 0, 0, 0.9);

@define-color noti-bg-hover rgb(73, 77, 100);
@define-color noti-bg-hover #1D1D1D;

@define-color noti-bg-focus rgb(73, 77, 100);
@define-color noti-close-bg rgba(73, 77, 100, 1);
@define-color noti-close-bg-hover rgb(73, 77, 100);
@define-color text rgb(202, 211, 245);


@define-color bg-selected rgb(138, 173, 244);

@define-color scale-trough rgba(207, 207, 207, 1);

* {
    color: @text;
}

.notification-row {
    background: none;
    box-shadow: none;
}

.notification {
    border-radius: 10px;
    margin: 12px 12px;
    box-shadow: none;
    padding: 0;
}

/* scale {
    padding-left: 21px;
    padding-right: 18px;
    box-shadow: none;
}

scale trough {
    background-color: @scale-trough;
}

scale trough highlight {
    background-color: @bg-selected;
    background-image: none;
} */

scale trough slider {
    /* background-color: @bg-selected; */
    /* border: 2px solid @bg-selected; */
    /* box-shadow: none; */
}

/* Uncomment to enable specific urgency colors
.low {
   background: yellow;
   padding: 12px;
   border-radius: 10px;
}
 
.normal {
   background: green;
   padding: 12px;
   border-radius: 10px;
}
 
.critical {
   background: red;
   padding: 12px;
   border-radius: 10px;
}
 */

.notification-content {
    background: none;
    padding: 12px;
    border-radius: 10px;
}

.close-button {
    background: @noti-close-bg;
    color: @text;
    text-shadow: none;
    padding: 0;
    border-radius: 100%;
    margin-top: 16px;
    margin-right: 16px;
    box-shadow: none;
    border: none;
    min-width: 24px;
    min-height: 24px;
}

.close-button:hover {
    box-shadow: none;
    background: @noti-close-bg-hover;
    transition: all 0.15s ease-in-out;
    border: none;
}

.notification-default-action,
.notification-action {
    padding: 12px;
    margin: 0;
    box-shadow: none;
    background: @noti-bg;
    border: 1px solid @noti-border-color;
    color: @text;
}

.notification-default-action:hover,
.notification-action:hover {
    -gtk-icon-effect: none;
    background: @noti-bg-hover;
}

.notification-default-action:active,
.notification-action:active {
    background: @noti-bg;
}

.notification-default-action {
    border-radius: 10px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.notification-action {
    border-radius: 0px;
    border-top: none;
    border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
    border-bottom-left-radius: 10px;
}

.notification-action:last-child {
    border-bottom-right-radius: 10px;
    border-right: 1px solid @noti-border-color;
}

.body-image {
    margin-top: 6px;
    background-color: @text;
    border-radius: 10px;
}

.summary {
    font-size: 16px;
    font-weight: bold;
    background: none;
    color: @text;
    text-shadow: none;
}

.time {
    font-size: 16px;
    font-weight: bold;
    background: none;
    color: @text;
    text-shadow: none;
    margin-right: 18px;
}

.body {
    font-size: 15px;
    font-weight: normal;
    color: @text;
    text-shadow: none;
}

.control-center {
    background: @cc-bg;
    /* roundness to the whole nc center */
    border-radius: 32px;
    /* border-top-left-radius: 12px; */
    /* border-top-right-radius: 12px; */
    /* border-bottom-left-radius: 12px; */
    /* border: 5px solid rgb(125, 196, 228); */
}

.control-center-list {
    background: none;
}

.control-center-list-placeholder {
    opacity: 0.0;
}

.floating-notifications {
    background: none;
}

/* Window behind control center and on all other monitors */
.blank-window {
    background: alpha(black, 0.0);
}

/*** Widgets ***/

/* Title widget */
.widget-title {
    margin: 0 12px 0 12px;
    font-size: 1.5rem;
    background-color: @noti-bg;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 14px;
}

/* close all button */
.widget-title>button {
    font-size: initial;
    color: @text;
    text-shadow: none;
    background: @noti-bg;
    border: 1px solid @noti-border-color;
    box-shadow: none;
    border-radius: 10px;
}

.widget-title>button:hover {
    background: @noti-bg-hover;
}

.widget-title>button:active {
    background: @noti-bg;
}

/* DND widget */
.widget-dnd {
    /* margin: 12px; */
    margin: 0 12px 0 12px;
    font-size: 1.1rem;
    background: @noti-bg;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 14px;

}

.widget-dnd>switch {
    font-size: initial;
    border-radius: 10px;
    /* background: @noti-bg; */
    background: rgba(71, 71, 71, 1);
    border: 1px solid @noti-border-color;
    box-shadow: none;

    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;

}

.widget-dnd>switch:checked {
    /* background: @bg-selected; */
    background: rgba(10 ,133, 255, 1);
}

.widget-dnd>switch slider:hover {
    box-shadow: none;
}

.widget-dnd>switch slider {
    background: @noti-bg-hover;
    background: white;
    border-radius: 10px;

    /* box-shadow: 
    1px 1px 1px rgba(70, 70, 70, 0.12); */
    /* box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3); */

}

/* Label widget */
.widget-label {
    margin: 12px;
}

.widget-label>label {
    font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
    /* The parent to all players */
}

.widget-mpris-player {
    padding: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 14px;
    margin-top: 0;
    background-color: @mpris-bg;
    border-radius: 12px;
}

.widget-mpris-title {
    /* font-weight: bold; */
    /* font-size: 1.25rem; */
}

.widget-mpris-subtitle {
    /* font-size: 1.1rem; */
}

/* Buttons widget */
.widget-buttons-grid {
    /* padding: 5px; */
    margin: 0px;
    border-radius: 12px;
    /* background-color: @mpris-bg; */
    background-color: @cc-bg;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    background: @mpris-bg;
    border-radius: 12px;
    padding: 14px 28px;
    font-size: 35px;
    margin: 2px 2px;
    /* border: 1px solid red; */
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: @noti-bg-hover;
}

/* menubar */
.widget-menubar {
    /* padding: 14px; */
    /* margin: 14px 20px 0 20px; */
    /* border-radius: 12px; */
    /* background-color: @mpris-bg; */
    /* border: 1px solid red; */
}

.menu-button-bar>button:nth-last-child(2) {
    /* border: 1px solid red; */
    /* padding: 7px; */
}

.menu-button-bar>button:last-child {
    /* border: 1px solid blue; */
    margin-right: 20px;
    margin-left: 14px;
}

.menu-button-bar>button:first-child {
    /* border: 1px solid green; */
    margin-right: 14px;
    margin-left: 20px;
}

/* .widget-menubar>box>.menu-button-bar>button {
    border: 1px solid red;
} */

.menu-button-bar>button{
    /* margin: 0; */
    /* away from the edges */
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 0;
    margin-right: 0;
    /* margin-right: 14px; */

    /* width/height od the icon */
    padding: 6px;
    /* padding-left: 0; */
    /* padding-right: 0; */
    /* padding-top: 14px; */
    /* padding-bottom: 14px; */

    /* border-right: 23px solid @mpris-bg; */
    /* border-left: 20px solid @mpris-bg; */

    border: none;
    /* border-radius: 12px; */
    border-radius: 50%;

    /* font-size: 30px; */
    font-size: 20px;

    box-shadow: none;
    background-color: @mpris-bg;
}

.menu-button-bar>button:last-child {
    /* border: 1px solid red; */
}

.screenshot,
.nightlight,
.power,
.bluetooth {
    /* border: 1px solid green; */
    background-color: rgba(71, 71, 71, 1);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    margin-bottom: 14px;
}

/* .menu-button-bar>button:active {
    background-color: red;
} */

.menu-button-bar>button:hover {
    background-color: gray;
}

/* .menu-button-bar>button:focus {
    background-color: #3783E3;
} */

/* .menu-button-bar>button:focus:first-child {
    background-color: @mpris-bg;
} */

.screenshot>button:hover,
.nightlight>button:hover,
.power>button:hover,
.bluetooth>button:hover {
    background-color: rgba(55, 131, 227, 1);
}

.screenshot>button:last-child,
.nightlight>button:last-child,
.power>button:last-child,
.bluetooth>button:last-child {
    /* border: 1px solid red; */
    border-bottom: none;
}

.screenshot>button:hover:first-child,
.nightlight>button:hover:first-child,
.power>button:hover:first-child,
.bluetooth>button:hover:first-child {
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.screenshot>button:hover:last-child,
.nightlight>button:hover:last-child,
.power>button:hover:last-child,
.bluetooth>button:hover:last-child {
    /* border-radius: 20px; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* topbar */
.topbar-buttons>button {
    /* Name defined in config after # */
    border: none;
    background: none;
}

/* Volume widget */

.widget-volume {
    background-color: @mpris-bg;
    padding: 14px;
    margin: 0 20px 14px 20px;
    border-radius: 12px;
    font-size: 20px;
}

/* volume knob */
.widget-volume slider {
    /* knob color */
    /* background: transparent; */
    /* background-color: transparent; */
    background-color: white;
    background: white;

    /* change knob size */
    /* background-size: 100px 100px; */

    /* unsure */
    /* min-width: 100px;*/
    /* min-height: 100px;*/

    color: transparent;
    box-shadow: -1px 0 @mpris-bg;
}

/* volume know once clicked and moving */
.widget-volume slider:active {
    background-color: white;
    background: white;

}

/* where is volume located */
.widget-volume scale {
    padding: 0;
    margin: 0;
    border: none;
    /* border: 1px solid green; */
}

/* volume range (size) */
.widget-volume scale trough {
    /* background-color: @scale-trough; */
    padding: 16px;
    margin-left: 14px;
    border-radius: 20px;
}

/* highlight line that shows where is volume slider */
.widget-volume scale trough highlight {
    background-color: transparent;
    background-image: none;
}

/* Backlight widget */
.widget-backlight {
    background-color: @noti-bg;
    padding: 14px;
    margin: 14px 20px 14px 20px;
    border-radius: 12px;
}

/* Title widget */
.widget-inhibitors {
    margin: 14px 20px 14px 20px;
    font-size: 1.5rem;
}

/* top/right/bottom/left */