@use "sass:color";
@use "./variables.scss" as *;

.qs-pages-box,
.workspaces {
    transition: all 0.3s;
    border-radius: $radius;

    &:hover {
        background-color: color.adjust($fgColor, $alpha: -0.8);
    }

    .workspace-button {
        &:first-child {
            padding-left: 0.5rem;
        }

        &:last-child {
            padding-right: 0.3rem;
        }

        transition: all 0.3s;
        padding: 0;
        background: transparent;
        box-shadow: none;
    }

    .workspace-button.active:hover .workspace-dot,
    .workspace-button:focus .workspace-dot {
        box-shadow: $focusShadow;
    }

    .workspace-button:hover .workspace-dot {
        background-color: $accentTransparent;
        box-shadow: $focusShadow;
    }

    .workspace-button.occupied:hover .workspace-dot {
        background-color: $accentTransparent;
    }

    .workspace-button.occupied .workspace-dot {
        background-color: $fgColor;
    }

    .workspace-button.active .workspace-dot {
        background: $accentGradient;
        margin: 0.6rem 0;
        padding: 0 1rem;
    }

    .workspace-dot {
        transition: all 0.3s;
        margin: 0.7rem 0.35rem;
        padding: 0;
        background-color: $shadowTransparent;
        border-radius: $radius;
    }
}
