@use "sass:string";
@use "./variables.scss" as *;
@use "./scrollable.scss" as scrollable;

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
// $fgColor: #{"@theme_fg_color"};
// $bgColor: #{"@theme_bg_color"};

window#launcher {
    all: unset;

    button,
    icon,
    entry,
    label {
        color: $fgColor;
    }

    box.Applauncher {
        background: $bgTransparent;
        border-radius: $appLauncherRadius;
        box-shadow: 2px 3px 8px 0 gtkalpha($black, .4);

        box.not-found {
            padding: 1rem;

            icon {
                font-size: 6em;
                color: gtkalpha($fgColor, .7);
            }

            label {
                color: gtkalpha($fgColor, .9);
                font-size: 1.2em;
            }
        }

        .app-launcher-header {
            margin: $appLauncherHeaderMargin;

            icon {
                margin: $appLauncherEntryMargin;
                font-size: $appLauncherEntryIconSize;
            }

            entry {
                background: none;
            	box-shadow: none;
            }
        }

        @include scrollable.scrollable;

        .app-launcher-scrollable {
            border-top: 1px solid $hover;
            padding: $appLauncherScrollablePadding;

            .app-button {
                min-width: 0;
                min-height: $appLauncherButtonMinHeight;
                padding: $appLauncherButtonPadding;
                background: unset;
                border-radius: $appLauncherRadius;
                margin: 0 0.4rem;

                &:focus {
                    background: $accent;
                    color: $bgColor;

                    icon {
            			-gtk-icon-shadow: 2px 2px $bgColor;
                    }
                }

                icon {
                    font-size: $appLauncherButtonIconSize;
                    margin-right: 1rem;
                }

                label.description {
                    font-weight: 300;
                    color: gtkalpha($fgColor, .8);
                }
            }
        }

        .math-query,
        .math-result {
            padding: 0 1rem 1rem 1rem;
            font-size: 1.5rem;
        }
    }
}
