@use "./colors.scss" as *;

$itemsMinHeight: 1.5rem;

.bar {
	min-height: 1.8rem;
	margin: 0 0.12rem 0 0rem;
	background: $surface_transparent;
}

.recording-box {
}

.extra-buttons.bar__button {
	padding: 0.2rem 0.4rem;
	margin: 0;
	min-width: 1rem;
}

.taskbar {
	.bar__button {
		padding: 0.2rem 0.45rem;
	}
}

.bar__item {
	padding: 0;
	font-size: 1rem; //14px
	// font-weight: 500;
	padding-left: 1.143rem;
	padding-right: 1.143rem;
	min-height: $itemsMinHeight;
	border-radius: 1.714rem;
	// background: $inverse_surface_transparent; //controls bar items background
	color: $on_surface;
	border: none;
	outline: none;
	&.bar__button {
		&:hover {
			background: $inverse_surface_transparent,
				$inverse_surface_transparent_overlay;
		}
		&:active {
			background: $inverse_surface_transparent_variant,
				$inverse_surface_transparent_overlay;
		}
		&.active {
			background: $primary_transparent;
			color: $on_primary;
		}
		&.bar__recording-indicator {
			padding: 0.2rem 0.6rem;
			background: $error_container;
			color: $on_error_container;

			&:hover {
				color: $error_container;
				background: $on_error_container;
			}
			&.spacing {
				label {
					// min-width: 3.857rem;
					// margin-right: 0.571rem;
				}
				// padding-left: 1.143rem;
				// padding-right: 1.143rem;
			}
		}
	}
}

.bar__item.transparent {
	background: transparent;
	color: $on_surface;
}

.bar__item.primary_container {
	background: $primary_container;
	color: $on_primary_container;
}

.distro-icon {
	color: $accent;
}

.bar__app-launcher.bar__button {
	// padding: 0;
	padding: 0.2rem 0.2rem;
	transition: all 0.3s;
	// background-color: $primary;
	min-height: $itemsMinHeight;
	min-width: $itemsMinHeight;

	.bar__app-launcher_icon {
		// background-color: $on_primary;
		min-width: 1rem;
		min-height: 1rem;
		border-radius: 100%;
		transition: all 0.3s;
	}

	&:hover {
		// background-color: $on_primary;
		.bar__app-launcher_icon {
			// background-color: $primary;
		}
	}

	&.active,
	&:active {
		background-color: $primary_transparent;
		// .bar__app-launcher_icon {
		// 	background-color: $on_primary_container;
		// }
	}
}

// .workspaces {
// }

.workspace-dot {
	// min-width: 0.371rem;
	// min-height: 0.371rem;
	margin: 0.65rem 0.35rem;
	background-color: $inverse_surface_transparent_variant;
	border-radius: 7.143rem;
	transition: all 0.3s;
}

.bar__workspaces-indicator {
	// border: 1px solid transparent;
	padding: 0;
	margin: 0;
	// min-width: 0.371rem;
	// min-height: 0.371rem;
	// background-color: $inverse_surface_transparent_variant;
	// border-radius: 7.143rem;
	// margin: 0 0.273rem;

	&:hover {
		.workspace-dot {
			background-color: $primary_transparent;
		}
	}

	&.active,
	&:active {
		.workspace-dot {
			background-color: $fg-color;
		}
	}

	&.focused {
		.workspace-dot {
			padding: 0.34rem 1rem;
			background-color: $primary;
			margin: 0.5rem 0.35rem;
		}
	}
}

.bar__active-app {
	padding-left: 0.857rem;
	padding-right: 1.143rem;
	icon {
		min-width: 1.429rem;
		min-height: 1.429rem;
		font-size: 1.429rem;
	}
	.desktop {
		icon {
			font-size: 1rem;
		}
	}
}

.bar__keyboard-layout {
	padding: 0;
	min-height: 3rem;
	min-width: 3rem;
}

.bar__battery {
	padding-left: 0.714rem;
	padding-right: 0.714rem;
}

.notification-revealer {
	margin: 0;
	padding: 0;
}

.bar__notifications {
	color: $yellow;
	padding: 0.2rem 0 0.2rem 0.6rem;
	margin: 0;
}

.clock-bar {
	&.active,
	&:active {
		background-color: $primary_transparent;
	}

	padding: 0.2rem 0.6rem;
}

// .weather-label {
// }

.weather-button {
	&.active,
	&:active {
		background-color: $primary_transparent;
	}

	padding: 0.2rem 0.4rem;
}

.bar__notifications_label {
	// font-size: 0.857rem;
	border-radius: 0.643rem;
	min-width: 1rem;
	// min-height: 1.286rem;
	// background: $inverse_surface;
	// color: $surface;
}

.bar-last-notification-label {
	padding-right: 0.4rem;
}

.bar__tray {
	padding: 0 0.4rem;
}

.bar__tray-item {
	padding: 0.1rem;
	min-width: 1.571rem;
	min-height: 1.571rem;
	background: none;
	border-radius: 1.2rem;
	&:hover {
		background-color: $hover;
	}
	icon {
		font-size: 1.286rem;
	}
}

.bar__rounded-box {
	.bar__item {
		border-radius: 0.286rem;
	}
}

.bar__rounded-box > * {
	&:last-child {
		border-top-right-radius: 1.714rem;
		border-bottom-right-radius: 1.714rem;
	}

	&:first-child,
	&:first-child > * {
		border-top-left-radius: 1.714rem;
		border-bottom-left-radius: 1.714rem;
	}
}

.volume-percentage {
	padding: 0 0 0 0.4rem;
}

.usage {
	padding: 0 0 0 0.4rem;
	border: none;
	outline: none;

	.icon {
		margin-left: 0.6rem;
		padding: 0 0.6rem 0 0;
	}
}

.btwrapper{
	padding-right: 0.6rem;
}

.btwrapper .bt-icon {
	margin-left: 0.6rem;
	margin-right: 0.4rem;
}

.usage-box {
	margin: 0;
	padding: 0;
}

.powermenu-button {
	&.active,
	&:active {
		background-color: $primary_transparent;
	}

	padding: 0.2rem 0.4rem;
	color: $red_transparent;
}

// .workspaces:hover {
// 	background: $inverse_surface_transparent,
// 		$inverse_surface_transparent_overlay;
// }

.workspaces-box {
	padding: 0 0.4rem;
}

.workspaces {
	border-radius: 1.714rem;
	transition: all 0.3s;

	&:hover {
		background: $inverse_surface_transparent,
			$inverse_surface_transparent_overlay;
	}
	&:active {
		background: $inverse_surface_transparent_variant,
			$inverse_surface_transparent_overlay;
	}
	&.active {
		background: $primary;
		color: $on_primary;
	}
}

.bar__system-indicators {
	padding: 0.2rem 0.5rem;
}

.bt-indicator-icon {
	color: $accent;
}

.mic-indicator-icon {
	color: greenyellow;
}

.mic-indicator-icon-muted {
	color: $red_transparent;
}

.headset-icon {
	padding-left: 0.3rem;
}

.bar .player__playpause.active {
	background: transparent;
	&:hover {
		background: $hover;
	}
}

.player__playpause {
	padding: 0.2rem 0.6rem;
}

.media-player-icon-button {
	padding: 0.2rem 0.4rem;
}

.media-player-title-box-button {
	padding: 0.2rem 0.6rem;
}

.player__previous {
	padding: 0.2rem 0.4rem;
}

.player__next {
	padding: 0.2rem 0.4rem;
}

.player-icon-cover-art {
	margin: 1px 0;
	min-width: 1.4rem;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}
