@use "sass:color";
@use "./variables.scss" as *;

window.Bar {
    border: none;
    box-shadow: none;
    background-color: $bgColor;
    color: $fgColor;
    border-radius: $barRadius;
    // font-size: 1.1em;
    // font-weight: bold;

    // label {
    //     margin: 0 8px;
    // }

    // this removes top and botton padding that is there on buttons in bar, controls bar height
    button {
        min-height: $barHeight;
        padding: 0rem 0.4rem;
        background-color: transparent;
    }

    .systray {
        button {
            padding: 0 0.5rem;
        }
    }

    .focused-client {
        color: $accent;
    }

    .Media .cover {
        min-height: $barMediaCoverHeight;
        min-width: $barMediaCoverWidth;
        border-radius: $radius;
        background-position: center;
        background-size: contain;
    }

    .battery label {
        padding-left: 0;
        margin-left: 0;
    }

    .audio-slider {
        * {
            all: unset;
        }

        icon {
            margin-right: .6em;
        }

        & {
            margin: 0 1em;
        }

        trough {
            background-color: color.adjust($fgColor, $alpha: -0.8);
            border-radius: $radius;
        }

        highlight {
            background-color: $accent;
            min-height: .8em;
            border-radius: $radius;
        }

        slider {
            background-color: $fgColor;
            border-radius: $radius;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
        }
    }

    .bar-button {
        border-radius: $radius;
        color: $fgColor;

        &.active {
            background-color: $accentTransparent;
            color: $bgColor;
        }
    }

    // first button, it is not centered otherwise
    .app-launcher-button {
        padding-left: 0.2rem;
        padding-right: 0.6rem;

        // fix as it does not work with background-color: transparent;
        &:hover {
            background-color: color.adjust($bgColor, $alpha: -0.8);
        }
    }

    .bar-buttons {
        margin-left: 0.5rem;
    }

    .powermenu-button {
        padding-left: 0.6rem;
    	color: $redTransparent;
    }

    .system-indicator {
        // padding: 0rem 0.25rem;

        &:last-child {
            // padding-right: 0rem;
        }

        &:first-child {
            // padding-left: 0rem;
        }
    }

    .bt-indicator-icon {
        color: $accent;
    }

    .mic-indicator-icon {
        color: greenyellow;
    }

    .mic-indicator-icon-mute {
        color: $redTransparent;
    }

    .app-launcher-button {
    	color: $accent;
    }

    .bar-notifications-icon,
    .bar-notifications-label,
    .bar-last-notification-label {
    	color: $yellow;
    }

    .bar-notifications-label {
        margin-left: 0.2rem;
    }

    .bar-last-notification-label {
        margin-left: 0.5rem;
    }

    .recording-box {
        margin-right: 0.5rem;

        .recording-indicator-button {
            padding: 0 0.5rem;
			background: $redRecording;
			color: $redRecordingText;

			&:hover {
				color: $redRecording;
				background: $redRecordingText;
			}
		}
    }

    .battery {
        .battery-levelbar {
            trough {
                border-radius: $radius;
                min-width: 5rem;

                block {
                    min-height: 1rem;
                    border-radius: $radius;
                    margin: 0 0.5rem;
                }
            }
        }

        .battery-percentage-label {
            font-weight: 400;
        }
    }
}
