@use "./variables.scss" as *;
@use "./scrollable.scss" as scrollable;

.control-center {
    button {
        border-radius: $radius;
        color: $fgColor;
    }

    .bluetooth-device-percentage {
        background: $primaryContainer;
        color: $redRecordingText;
        border-radius: $radius;
        margin: 0.7rem;
        padding: 0 0.5rem;
    }

    .brightness-slider {
        margin-top: 0.4rem;
    }

    .qs-page {
        .qs-page-header-title {
            font-size: 1.2rem;
        }

        @include scrollable.scrollable;

        .qs-page-content {
            padding-top: 1rem;
        }

        .qs-page-header {
    		margin-top: 0.5rem;
        }

        .qspage-item-header {
            padding: 1rem;
            border-radius: $radius;
    		background: $inverseSurfaceTransparent;
            color: $fgColor;

            &.active {
                background: $primaryContainer;
            }

            icon {
                margin-right: 1rem;
            }
        }

        .qs-page-item {
            background-color: $inverseSurfaceTransparent;
            padding: 0.5rem;
            border-radius: 0;

            .device-icon {
                margin-left: 0.5rem;
            }

            &:first-child {
                border-top-left-radius: $radius * 0.6;
                border-top-right-radius: $radius * 0.6;
            }

            &:last-child {
                border-bottom-left-radius: $radius * 0.6;
                border-bottom-right-radius: $radius * 0.6;
            }

            icon {
                margin-right: 1rem;
            }
        }
    }

    .qs-main-page .menu .menu-button,
    .menu-button {
        &.filled {
            background: $accentGradient;
            color: $bgColor;
        }

        &.outlined {
            background: none;
            border: 1px solid $shadowTransparent;
        }

        &:hover,
        &:focus {
            box-shadow: $hoverShadow;
        }
    }

    .qs-main-page {
        .weather {
            margin-top: $qsElementsTopMargin;
        }

        box.media-player {
            margin-top: $qsElementsTopMargin * 1.25;
        }

        .menu {
            margin-top: $qsElementsTopMargin;
            padding: $qsMenuPadding;
            background: $inverseSurfaceTransparent;
            border-radius: $radius * 1.5;
            color: $fgColor;

            .menu-button {
                padding: 0.5rem 1.5rem;
            }

            .qs-menu-content {
                label {
                    margin-left: 1rem;
                }
            }

            .qs-menu-icon-record {
                color: red;
            }

            .qs-menu-screen-record-content {
                icon {
                    margin-right: 1rem;
                }
            }

            button {
                background: $bgColor;

                &:hover {
                    box-shadow: $hoverShadow;
                }

                &:focus {
                    box-shadow: $focusShadowTransparent;
                }
            }

            .qs-menu-label {
                font-size: 1.3rem;
                font-weight: 600;
            }
        }

        .toggles-space {
            margin: $togglesSpace;
        }

        .qs-toggles {
            .qs-toggles-page {
                .toggles {
                    &.empty {
                        min-width: $qsTogglesEmptyWidth;
                    }

                    min-width: $qsTogglesWidth;
                    min-height: $qsTogglesHeight;

                    icon {
                        margin-left: $qsTogglesIconMarginLeft;
                    }

                    label {
                        margin-left: $qsTogglesLabelMarginLeft;
                    }

                    &.active {
                        background: $accentGradient;
                        color: $bgColor;

                        &:hover {
                            box-shadow: $hoverShadow;
                        }

                        &:focus {
                            box-shadow: $focusShadow;
                        }
                    }
                }
            }

            .qs-pages-box {
                .workspace-dot {
                    margin-top: 0.65rem;
                    margin-bottom: 0.65rem;
                }

                .workspace-button.active .workspace-dot {
                    padding-left: 0.05rem;
                    padding-right: 0.05rem;
                    margin-top: 0.55rem;
                    margin-bottom: 0.55rem;
                }
            }
        }

        .brightness-slider-overlay,
        .volume-slider-overlay {
            * {
                padding: 0;
                margin: 0;
                border: none;
                box-shadow: none;
                border-radius: $radius;
                color: $bgColor;
            }

            .slider-brightness-icon,
            .slider-volume-icon {
                margin-left: $qsSliderIconMarginLeft;
            }

            trough {
                background: $inverseSurfaceTransparent;

                highlight,
                progress {
                    background: $accentGradient;
                }

                highlight:hover {
                    box-shadow: $hoverShadow;
                }

                highlight:focus {
                    box-shadow: $focusShadow;
                }

                highlight {
                    min-width: $qsSliderHighlightWidth;
                    background: $accentGradient;
                }

                slider {
                    background: transparent;
                }
            }
        }
    }
}
