@use "./colors.scss" as *;

$buttonMinHeight: 2.714rem;
$togglesHeight: 10.7rem;

.ControlCenter {
	.control-center__container {
		border-radius: 2rem;
		min-width: 20.143rem;
		// min-height: 46.429rem;
		background: $surface_transparent;
		margin: 1px;
		border: $containerBorder;
		// box-shadow: $containerShadowDarkInset;
	}

	.control-center__page {
		padding: 1.429rem 1.429rem 0 1.429rem;
	}

	.control-center__page.main {
		padding: 1rem 1rem 0.7rem 1rem;
	}

	.control-center__page.network,
	.control-center__page.bluetooth {
		.top,
		.bottom {
			background: transparent;
		}
	}

	.control-center__page_scrollable-content {
		margin-bottom: 1.429rem;
	}

	.control-center__page_header {
		color: $on_surface;
		margin-top: 0.571rem;
		margin-bottom: 1.714rem;
		label {
			font-size: 1.286rem;
			font-weight: 500;
		}
	}

	.control-center__page_header_button {
		background: $inverse_surface_transparent;
		color: $on_surface;
		min-width: $buttonMinHeight;
		min-height: $buttonMinHeight;
		border-radius: 7.143rem;
		&:hover {
			background-color: $inverse_surface_transparent_variant;
		}

		&:focus {
			box-shadow: $buttonShadow;
		}
	}

	.control-center-page {
		.page-dot {
			// min-width: 0.371rem;
			// min-height: 0.371rem;
			margin: 0.65rem 0.35rem;
			background-color: $inverse_surface_transparent_variant;
			border-radius: 7.143rem;
			transition: all 0.3s;
		}

		&:hover {
			.page-dot {
				background-color: $primary_transparent;
			}
		}
	
		&.active,
		&:active {
			.page-dot {
				background-color: $primary;
			}
		}

		&:focus {
			.page-dot {
				// padding: 0.34rem 1rem;
				box-shadow: $buttonShadow;
				background-color: $shadowTransparent;
			}
		}
	}

	// .control-center-page-indicators {
	// }

	.control-center-box-space {
		margin-bottom: 0.6rem;
	}

	.toggles.control-center__button {
		min-width: $buttonMinHeight * 3.8;
	}

	.control-center__page_item-header {
		background: $inverse_surface_transparent;
		&.active {
			background: $primary_container;
			color: $on_primary_container;
		}
		border-radius: 1.714rem;
		padding: 0 1.571rem;
		min-height: 5.714rem;
		transition: background 0.1s ease;
		label {
			font-size: 1.143rem;
			font-weight: 500;
			margin-left: 1.143rem;
		}
	}

	.control-center__page_item {
		background: $inverse_surface_transparent;
		&:first-child {
			border-top-left-radius: 1.286rem;
			border-top-right-radius: 1.286rem;
		}
		&:last-child {
			border-bottom-left-radius: 1.286rem;
			border-bottom-right-radius: 1.286rem;
		}
		padding: 1.286rem 1.571rem;
		color: $on_surface;
		transition: background 0.1s ease;
		label {
			font-size: 1rem;
			font-weight: 500;
			margin-left: 1.143rem;
		}
		&:hover {
			background-color: $inverse_surface_transparent_variant;
		}
	}

	.control-center__button > * {
		border-radius: 2.143rem;
	}

	.control-center__button {
		background-color: $secondary; //button off (not active) color
		color: $on_surface;
		padding: 0 0.5rem 0 1rem;
		border-radius: 7.143rem;
		min-height: 3.2rem;
		min-width: 8rem;
		transition:
			background 0.2s ease-in-out,
			color 0.2s ease-in-out;

		&.active {
			background: $primary;
			color: $on_primary;
			&:hover {
				background: $primary, $inverse_surface_transparent_variant_overlay;
			}
			&:active {
				background: $on_primary_container,
					$inverse_surface_transparent_overlay;
			}
		}

		&:hover {
			background-color: $inverse_surface_transparent_variant;
		}
		font-size: 1rem;
		font-weight: 600;
		&.no-label {
			padding: 0;
		}
		&.recorder-indicator {
			&.active {
				background: $error_container;
				color: $on_error_container;
				&:hover {
					background: $error_container,
						$inverse_surface_transparent_variant_overlay;
				}
				&:active {
					background: $error_container,
						$inverse_surface_transparent_overlay;
				}
			}
		}
	}

	.control-center__dropdown-menu {
		background: $inverse_surface_transparent;
		border-radius: 2.286rem;
		padding: 1.714rem;
		margin-top: 0.6rem;

		// button {
		// }

		// switch {
		// }
	}

	.control-center__dropdown-menu_icon {
		font-size: 1.429rem;
		color: red;
	}

	.control-center__dropdown-menu_item {
		icon {
			font-size: 1.143rem;
		}
		label {
			font-size: 1.143rem;
		}
	}

	.control-center__time-to-empty {
		color: $on_surface;
		font-size: 1.071rem;
		font-weight: 500;
	}

	.control-center__footer {
		// margin: 0.714rem 0.571rem;
	}

	.weather {
		margin-top: 0.3rem;
	}

	.lightstrip-color {
		.fetch-new-ip {
			padding: 0 0.4rem;
			border-radius: 1.2rem;
		}
	}

	.button-arrow {
	}

	.control-center__page {
		.control-center-toggles {
			// fix to make min height of control center toggles unifed with multiple pages
			min-height: $togglesHeight;
		}
	}

	// filler when 1 button in control center is missing
	.filler-button {
		min-width: $buttonMinHeight * 3.8 * 1.1;
	}
}

.app-launcher-sinks,
.ControlCenter {
	.control-center-space {
		margin: 0 0.3rem;
	}

	.control-center__page.bluetooth button,
	.control-center__page.bluetooth switch,
	.qs-menu,
	.qs-menu button,
	.qs-menu switch{
		&:focus {
			box-shadow: $buttonShadow;
		}
		&:hover {
			background-color: $inverse_surface_transparent_variant;
		}
	}

	.control-center__brightness-slider,
	.control-center__volume-slider {
		* {
			padding: 0;
			margin: 0;
			border: none;
		}

		.control-center__slider-icon {
			color: $on_primary;
			margin-left: 1rem;
		}

		trough {
			transition:
				background-color 0.3s ease-in-out,
				color 0.3s ease-in-out;
			border-radius: 7.143rem;
			background-color: $inverse_surface_transparent;
			min-height: calc($buttonMinHeight * 7 / 8);

			highlight {
				min-width: calc($buttonMinHeight * 7 / 8);
				border-radius: 7.143rem;
				background-color: $primary;
				border-radius: 7.143rem;
				transition:
					background-color 0.3s ease-in-out,
					color 0.3s ease-in-out;
			}

			slider {
				min-width: calc($buttonMinHeight * 7 / 8);
				min-height: calc($buttonMinHeight * 7 / 8);
				border-radius: 7.143rem;
				background-color: transparent;
				box-shadow: none;

				transition:
					background-color 0.3s ease-in-out,
					color 0.3s ease-in-out;
			}
		}
	}

	.muted {
		.control-center__volume-slider {
			highlight {
				background-color: $inverse_surface_transparent_variant;
			}
		}
		.control-center__slider-icon {
			color: $on_surface;
		}
	}

	.volumeslider {
		trough{
			highlight,
			progress {
				background: $sliderGradient;
			}

			// different shade when hover/focus - same as in common file - &:hover
			highlight:hover,
			highlight:focus {
				box-shadow: $buttonShadow;
			}
		}
	}

	.qsvolume-box {
		// margin-top: 0.3rem;
	}

	.menu .sink-box,
	.menu .control-center__dropdown-menu {
		box-shadow: $containerShadowDarkInset;
		border: $containerBorder;
	}

	.sink-box {
		margin-top: 0.8rem;
	}

	.lightstrip-color,
	.sink-box {
		background: $inverse_surface_transparent;
		border-radius: 2.286rem;
		padding: 1.714rem;

		.cotrol-center-menu-button {
			border-radius: 2.286rem;
			background-color: $bgColorTransparent;
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	.control-center__dropdown-menu_title {
		font-size: 1.429rem;
		font-weight: 600;
	}

	.cotrol-center-menu-button {
		padding: 0.4rem 0;
	}

	.control-center__settings-button,
	.control-center__powermenu-button {
		min-width: calc($buttonMinHeight * 7 / 8);
		min-height: calc($buttonMinHeight * 7 / 8);
		background: $inverse_surface_transparent;
		color: $on_surface;
		border-radius: 7.143rem;
		transition: 0.15s all ease-in-out;
	}

	.control-center__powermenu-button.sink {
	}

	.control-center__settings-button {
		&:hover {
			background: $tertiary;
			color: $on_tertiary;
		}
	}

	.control-center__powermenu-button {
		&:hover {
			background: $secondary;
			// color: $on_secondary;
		}
	}

	// all buttons in qs
	.control-center__button:hover {
		box-shadow: $buttonShadow;
	}
	.control-center__button:focus {
		box-shadow: $buttonShadow;
	}

	.control-center__powermenu-button:hover {
		box-shadow: $buttonShadow;
	}

	.control-center__powermenu-button:focus {
		box-shadow: $buttonShadow;
	}

	.control-center__sink-button:hover {
		box-shadow: $buttonShadow;
	}

	.control-center__sink-button:focus {
		box-shadow: $buttonShadow;
	}
}