@use "./variables.scss" as *;

@mixin calendar {
    button {
        border-radius: $radius;
    }

    .calendar__button,
    .calendar-weekdays button {
        background-color: unset;
        color: $fgColor;
    }

    .calendar__button__today {
        background: $accentGradient;
        color: $bgColor;

        &:hover {
            box-shadow: $hoverShadow;
        }

        &:focus {
            box-shadow: $focusShadow;
        }
    }

    .calendar__button__other-month {
        color: $shadowTransparent;
    }

    .calendar-weekdays {
        margin-top: $calendarWeekdaysTopMargin;
        color: $fgColor;
    }

    .calendar__header button {
        background-color: $inverseSurfaceTransparent;
        color: $fgColor;
    }
}

window#dashboard .Popup {
    .calendar {
        @include calendar;
    }
}
