@use "sass:string";
@use "./variables.scss" as *;
@use "./scrollable.scss" as scrollable;

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
// $fgColor: #{"@theme_fg_color"};
// $bgColor: #{"@theme_bg_color"};

window.notification-popups {
    all: unset;
}

eventbox.notification {
    .notification-icon,
    .notification-image {
        margin: $notificationIconMargin;
        min-width: $notificationIconMinWidth;
        min-height: $notificationIconMinHeight;
        border-radius: $notificationIconRadius;
        background: $inverseSurfaceTransparent;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &:first-child>box {
        // margin-top: 1rem;
    }

    &:last-child>box {
        // margin-bottom: 1rem;
    }

    // eventboxes can not take margins so we style its inner box instead
    >box {
        min-width: $notificationMinWidth;
        border-radius: $radius;
        background-color: $bgColor;
        border: 1pt solid gtkalpha($fgColor, .03);
    }

    &.critical>box {
        border: 1pt solid gtkalpha($error, .4);

        .header {
            .app-name {
                color: gtkalpha($error, .8);

            }

            .app-icon {
                color: gtkalpha($error, .6);
            }
        }
    }

    .header {
        padding: 0.5rem 0.5rem 0rem 0.5rem;
        color: gtkalpha($fgColor, 0.5);
        font-size: 0.85rem;

        .app-icon {
            margin: 0 .4rem;
        }

        .summary,
        .app-name {
            margin-right: .3rem;
            font-weight: bold;

            &:first-child {
                margin-left: .4rem;
            }
        }

        .time {
            margin: 0 .4rem;
        }

        button {
            padding: .4rem;
            min-width: 0;
            min-height: 0;
            border-radius: $radius;
            background: $closeRedTransparent;
        }
    }

    separator {
        margin: 0 .4rem;
        background-color: gtkalpha($fgColor, .1);
    }

    .content {
        margin: 1rem;
        margin-top: 0rem;
        margin-bottom: 0.4rem;

        .summary {
            color: $fgColor;
        }

        .body {
            font-size: 0.9rem;
            color: gtkalpha($fgColor, 0.8);
        }

        .image {
            border: 1px solid gtkalpha($fgColor, .02);
            margin-right: .5rem;
            border-radius: $radius;
            min-width: 100px;
            min-height: 100px;
            background-size: cover;
            background-position: center;
        }
    }

    .actions {
        margin: 0 0.4rem 0.4rem 0.4rem;

        button {
            padding: 0;
            background-color: unset;
            border-radius: $radius;
            font-size: 0.9rem;
            color: $accent;

            // &:first-child {
            //     margin-left: 0;
            // }

            // &:last-child {
            //     margin-right: 0;
            // }
        }
    }
}

window#notification {
    .Notification {
        >box {
            background-color: $notificationBackground;
        }
    }

    .notifications-window-clear {
        padding: 0.2rem 0.6rem;
        margin: 0;
        background-color: unset;
        border-radius: $radius;
        color: $fgColor;
    }
    @include scrollable.scrollable;
}
