@use "./colors.scss" as *;

.app-launcher-media,
.ControlCenter {
	.player {
		// min-height: 11.071rem;
		background: $secondary;
		// padding: 1.429rem;
		border-radius: 1.067rem;
		background-size: cover;
		background-position: center;
		transition: 0.5s background ease-in-out;
		margin-top: 0.8rem;
		padding: 1rem;
	}

	.player__icon {
		// font-size: 1.429rem;
		margin: 0.4rem 0.8rem 0 0.4rem;
	}

	.player__title {
		margin-bottom: 0.3rem;
		font-weight: 500;
		// font-size: 1.357rem;
		// padding-right: 1.286rem;
	}

	.player__artist {
		margin-bottom: 1rem;
		// padding-right: 1.286rem;
		font-weight: 400;
		// font-size: 1.214rem;
	}

	.player__playpause {
		// min-width: 4.286rem;
		// min-height: 4.286rem;
		padding: 0 0.4rem;
		// background: $primary;
		border-radius: 0;
		transition:
			background 0.3s ease-in-out,
			border-radius 0.3s ease-in-out,
			color 0.3s ease-in-out;
		// border-radius: 2.143rem;

		&.active {
			// border-radius: 1.429rem;
		}
	}

	.player__next,
	.player__previous {
		background: none;
	}

	.player__title-box {
		animation: slide-back 0.3s cubic-bezier(0.05, 0.7, 0.1, 1);

		&.dissappear {
			animation: slide 0.3s cubic-bezier(0.3, 0, 0.8, 0.15);
		}
	}

	.player__position-slider {
		trough {
			transition:
				background-color 0.3s ease-in-out,
				color 0.3s ease-in-out;
				border-radius: 7.143rem;

			highlight {
				min-width: 0.8rem;
				border-radius: 7.143rem;
				background-color: $on_surface;
				border-radius: 7.143rem;
				transition:
					background-color 0.3s ease-in-out,
					color 0.3s ease-in-out;
			}

			slider {
				background-color: transparent;

				margin: -0.714rem;
				// padding: 0.143rem 0;
				// border-radius: 0.5rem;
				// border-radius: 0.714rem;
				box-shadow: none;
				// background-color: $on_surface;

				transition:
					background-color 0.3s ease-in-out,
					color 0.3s ease-in-out;
			}

			highlight,
			progress {
				background: $sliderGradient;
			}

			// different shade when hover/focus - same as in common file - &:hover
			highlight:hover,
			highlight:focus {
				box-shadow: $buttonShadow;
			}
		}
	}

	.player__indicator {
		// min-width: 0.571rem;
		// min-height: 0.571rem;
		background: $inverse_surface_transparent_variant;
		border-radius: 7.143rem;
		// margin-bottom: 0.571rem;
		transition: 0.3s all ease-in-out;
		&.selected {
			background: $inverse_surface;
		}
	}

	// @keyframes slide {
	// 	from {
	// 		margin-left: 0;
	// 		opacity: 1;
	// 	}
	// 	to {
	// 		margin-left: 0;
	// 		opacity: 0;
	// 	}
	// }
	
	// @keyframes slide-back {
	// 	from {
	// 		margin-left: 0;
	// 		opacity: 0;
	// 	}
	// 	to {
	// 		margin-left: 0;
	// 		opacity: 1;
	// 	}
	// }

	.cover-art {
		image {
			font-size: 8px;
			color: $secondary;
		}
		background-size: cover;
		background-position: center;

		border-radius: 1.5rem;
		margin-right: 0.4rem;
		min-width: 6rem;
		min-height: 6rem;
	}

	.player-length {
		margin-right: 0.4rem;
	}

	.player button {
		color: unset;
		border-radius: 1.2rem;

		&:focus {
			box-shadow: $buttonShadow;
		}
		&:hover {
			background-color: $inverse_surface_transparent_variant;
		}
	}

	// .player__icon,
	// .player__playpause-icon {
	// 	// box-shadow: 1px 1px 1px black;
	// 	-gtk-icon-shadow: 2px 2px 2px $secondary;
	// }

	// .player__artist,
	// .player__title,
	// .player-length,
	// .player-position {
	// 	text-shadow: 2px 2px 2px black;
	// }

	.player__position-slider {
		trough {
			box-shadow: $playerSliderShadow;
			border: $containerBorder;
		}
	}
}
