@use "./variables.scss" as *;

.Popup .quicksettings,
.Popup .popup-box,
.Popup .popup {
    background-color: $bgColor;
    box-shadow: 2px 3px 7px 0 rgba(0,0,0,0.4);
    border-radius: $radius;
    padding: 8px;
}

window#powermenu.Popup {
    background: $popupTransparent;
}

.popover {
    background-color: transparent;
}
