@use "./variables.scss" as *;

@mixin scrollable {
    scrollable {
        // scrolled window, scrollbar, removing frame
        .frame {
            border: unset;
        }

        .overlay-indicator {
            border-radius: $radius;
        }

        // removing top and bottom backround - on scroll
        .top,
        .bottom {
            background: transparent;
        }
    }
}
