@use 'sass:color' as color;

$black: #000000;
$bgColor: #171717;
$fgColor: #f1f1f1;
$accent: #51a4e7;
$error: red;
$redRecording: #93000a;
$redRecordingText: #ffdad6;
$red: #e55f86;
$closeRed: #3d3231;
$primaryContainer: #73342c;
$shadowColor: #eeeeee;
$inverseSurface: #f1dedc;
$yellow: #EBFF71;
$notificationBackground: #282626;
$mediaPlayerActionIcon: #ffffff;

$overview: rgba(238, 238, 238, 0.06);

$bgTransparent: color.adjust($bgColor, $alpha: -0.05);
$popupTransparent: color.adjust($black, $alpha: -0.68);
$accentTransparent: color.adjust($accent, $alpha: -0.4);
$hover: color.adjust($shadowColor, $alpha: -0.80);
$osd: color.adjust(gray, $alpha: -0.10);
$redTransparent: color.adjust($red, $alpha: -0.3);
$shadowTransparent: color.adjust($shadowColor, $alpha: -0.5);
$inverseSurfaceTransparent: color.adjust($inverseSurface, $alpha: -0.92);
$closeRedTransparent: color.adjust($closeRed, $alpha: -0.5);

$accentGradient: linear-gradient(to right, #51a4e7, #6cb2eb);

$hoverShadow: inset 0 0 0 9999px rgba(255, 255, 255, 0.2);
$focusShadow: inset 0 0 0 2px rgba(255, 255, 255, 0.4);
$focusShadowTransparent: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
