@forward "./colors/dark.scss";

$radius: 1.5rem;

// bar
$barMediaCoverHeight: 1.2rem;
$barMediaCoverWidth: 1.2rem;
$barHeight: 27px;

// qs
$togglesSpace: 0 0.2rem;
$qsElementsTopMargin: 0.5rem;

// qs toggles
$qsTogglesWidth: 10.7rem;
$qsTogglesEmptyWidth: 10.7rem * 1.11;
$qsTogglesHeight: 2.2rem;
$qsTogglesIconMarginLeft: 0.6rem;
$qsTogglesLabelMarginLeft: 0.6rem;

// qs volume slider
$qsSliderHighlightWidth: 2.2rem;
$qsSliderIconMarginLeft: 0.6rem;

// qs menu
$qsMenuPadding: 1.5rem;

// osd
$osdMinWidth: 12rem;
$osdLevelbarHeight: 0.8rem;
$osdLevelbarLowWidth: 0.8rem;

// powermenu
$powermenuButtonRadius: 100rem;
$powermenuButtonPadding: 3rem;
$powermenuButtonWidth: 7rem;
$powermenuButtonHeight: 7rem;
$powermenuButtonMargin: 0.5rem;
$powermenuButtonRadius: 50%;

// app-launcher
$appLauncherRadius: $radius * 0.6;
$appLauncherEntryIconSize: 1.2rem;
$appLauncherHeaderMargin: 0.3rem 0.8rem 0.3rem 0.8rem;
$appLauncherEntryMargin: 0 0.7rem 0 0.5rem;
$appLauncherScrollablePadding: 0.3rem 0 0.5rem 0;
$appLauncherButtonIconSize: 1.8rem;
$appLauncherButtonPadding: 0.2rem 1rem 0.2rem 0.6rem;
$appLauncherButtonMinHeight: 2.5rem;

// dashboard
// calendar
$calendarWeekdaysTopMargin: 0.8rem;

// weather
$weatherMainBoxMinWidth: 16.5em;
$weatherweatherInfoMinWidth: 5em;
$weatherweatherInfoMinHeight: 10em;
$weatherChildBoxMinWidth: 5em;

// notification
$notificationIconMinWidth: 3rem;
$notificationIconMinHeight: 3rem;
$notificationIconRadius: $radius * 0.6;
$notificationIconMargin: 0 0 0 1rem;
$notificationMinWidth: 400px;

// overview
$overviewAppRadius: $radius * 0.6;
