@use "./colors.scss" as *;

// weather popup
.weather-refresh {
    all: unset;
    border: none;
    margin: 0;
    padding: 0;
}

.weather-refresh:hover {
    color: gray;
}

.weather-refresh:active {
    color: black;
}

// .weather-refresh:focus {
//     color: $accent;
// }

.weather-info {
    background-color: rgba(81, 164, 231, 0.76);
    border-radius: 1.067rem;
    padding: 0.55em;
    // margin: 0 0.333rem;
}

.weather-temperature {
    margin-bottom: 0.6em;
}

.weather-day {
    padding: 0.133rem;
}

.weather-day:first-child {
    padding: 0;
}

.weather-popup-box { //main popup box
	padding: 0.8rem;
}

.weather {
	//weather popup
	.weather-info {
		.weather-icon{
			font-size: 1.5em;
			margin-top: 0.3em;
			margin-bottom: 0.15em;
		}

		.weather-temperature {
			all: unset;
			font-size: 1.2em;
			margin-left: 0.5em;
		}
	}

	///

	.weather-spacing {
		padding-left: 0.6rem;
	}

	.qsweather-widget {
		// margin-left: 0.4rem; //big weather widgets for hours
	}

	.qs-weather-box-child {
		.weather-icon {
			font-size: 1.5em;
		}
	}

///

	.qsweather-widget {
		margin: 0;
		padding: 0;
		// margin-top: $padding / 2;
		border-radius: 1.067rem;
	}

	.qs-weather-box-main {
		margin: 0.5em;

		.weather-icon {
			font-size: 2.42em;
			margin-left: 0.5em;
		}

		.weather-temperature {
			all: unset;
			font-size: 1.6em;
		}

		.weather-rain {
			margin-left: 1.2em;
		}

		.weather-hour {
			margin-right: 1em;
		}
	}

	.qs-weather-box-child {
		padding-bottom: 0.7em;

		.weather-icon {
			margin-top: 0.3em;
			font-size: 1.6rem;
		}

		.weather-temperature {
			all: unset;
			margin-bottom: 0.2em;
			font-size: 1.333rem;
		}
	}
}

// fix to keep topbar on the correct height
.weather.panel-button label{
    font-size: 1.067rem;
}

.weather-popup .qs-weather-box-main {
	min-width: 16.5em;
}

.weather-popup .weather-info {
    min-width: 5em;
    min-height: 10em;
}

.weather-popup .qs-weather-box-child {
	min-width: 5em;
}

.weather {
	.sunset {
		background: linear-gradient(to bottom, #ff6f61, #ffca58, #f0e68c);
		color: #000000;
	}

	.sunrise {
		background: linear-gradient(to bottom, #ffcc00, #ff6f61, #ff5e62, #d55f74);
		color: #000000;
	}

	.few-clouds {
		background: linear-gradient(to bottom, #80b3ff, #ffffff, #ffdb4d);
		color: #000000;
	}

	.thunderstorm {
		background: linear-gradient(to bottom, #0c0e23, #1a1c38, #121320, #0c0e23);
		color: #ffffff;
	}

	.clear-night {
		background: linear-gradient(to bottom, #2c3e50, #1a2533);
		color: #ffffff;
	}

	.clear-night2 {
		background: linear-gradient(to bottom, #001f3f, #002f4f, #003f5f, #004f6f, #005f7f);
		color: #ffffff;
	}

	.sun {
		background: linear-gradient(to bottom, #ffeb99, #ffe580, #ffd866, #ffcf4c, #ffc333);
		color: #000000;
	}

	.cloudy {
		background: linear-gradient(to bottom, #c4c4c4, #d1d1d1, #dedede, #ebebeb, #f8f8f8);
		color: #000000;
	}

	.cloudy-night {
		background: linear-gradient(to bottom, #1c2331, #212a38, #263141, #2b3749, #303d51);
		color: #ffffff;
	}

	.fog {
		background: linear-gradient(to bottom, #d8d8d8, #e2e2e2, #ececec, #f6f6f6, #ffffff);
		color: #000000;
	}

	.fog-night {
		background: linear-gradient(to bottom, #1c2331, #1c2331, #1c2331, #293547, #38475f);
		color: #ffffff;
	}

	.heavy-rain {
		background: linear-gradient(to bottom, #2c3e50, #34495e, #2c3e50, #34495e, #2c3e50);
		color: #000000;
	}

	.heavy-rain-night {
		background: linear-gradient(to bottom, #050818, #070b1d, #0a0e22, #0d1126, #10152b);
		color: #ffffff;
	}

	.light-rain {
		background: linear-gradient(to bottom, #547aad, #6692b8, #78a9c3, #8abfd0, #9cd7dd);
		color: #000000;
	}

	.rain-night {
		background: linear-gradient(to bottom, #0e1620, #121c2a, #162133, #18273c, #1c2c46);
		color: #ffffff;
	}

	.partly-cloudy {
		background: linear-gradient(to bottom, #a8c9f0, #c4dfea, #f0f0cc, #ffd700, #f0f0cc, #c4dfea, #a8c9f0);
		color: #000000;
	}

	.partly-cloudy-night {
		background: linear-gradient(to bottom, #040d1c, #081427, #0c1a32, #101f3d, #142348);
		color: #ffffff;
	}

	.rain-showers {
		background: linear-gradient(to bottom, #5e7d99, #6a8ba6, #7698b3, #87a5bf, #97b3cb, #a6c0d8, #b4cedf);
		color: #000000;
	}

	.rainshowers-night {
		background: linear-gradient(to bottom, #050818, #070b1d, #0a0e22, #0d1126, #10152b);
		color: #ffffff;
	}

	.snow {
		background: linear-gradient(to bottom, #d0e6ec, #e0f0f5, #f0f5f9, #f5fafd, #ffffff);
		color: #000000;
	}

	.snow-night {
		background: linear-gradient(to bottom, #0e1620, #162133, #1c263f, #232c4c, #293259);
		color: #ffffff;
	}

	.sleet {
		background: linear-gradient(to bottom, #d0e6ec, #e0f0f5, #f0f5f9, #ffffff, #f0f5f9, #e0f0f5, #d0e6ec);
		color: #000000;
	}

	.sleet-night {
		background: linear-gradient(to bottom, #050818, #08142a, #0c1d3b, #101f47, #142556);
		color: #ffffff;
	}

	.unknown {
		background: red;
		color: blue;
	}

}
