window#applauncher .window-content {
    @include floating_widget;
    padding: 0; //padding around window
    background-color: transparentize($color: $bg_color, $amount: 0.05); //trasparent background
    border-radius: $radii;

    entry {
        margin: $spacing $spacing $spacing / 2 $spacing;

        // @include button;
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding-left: $padding;

        label, image {
            color: $fg-color;
        }
    }

    separator {
        min-height: 1px;
        background-color: $hover;
    }

    .header-separator {
        background-color: $hover;
    }

    .math-result:first-child {
        color: transparentize($fg-color, 0.5);
        font-size: 1em;
    }

    .math-result {
        margin-top: $spacing * 2;
        color: $fg_color;
        font-size: 1.7em;
    }

    .placeholder {
        margin-top: $spacing * 2;
        color: $fg_color;
        font-size: 1.2em;
    }

    scrolledwindow {
        @include scrollable;
        min-width: 36em;
        min-height: 22em;
    }

    button.app-item {
        @include button($flat: true, $reactive: false);
        > box { @include spacing(0.5); }
        transition: $transition;
        padding: $padding / 2;
        padding-left: $padding * 2;
        margin-right: $padding; //from scroll wheel
        border-radius: $radii / 2;

        label {
            transition: $transition;

            &.title {
                color: $fg-color;
            }

            &.description {
                color: transparentize($fg-color, 0.3);
                font-size: small;
            }
        }

        image {
            transition: $transition;
        }

        &:hover, &:focus {
            background-color: #0059D1;

            .title {
                // color: $accent;
            }

            image {
                -gtk-icon-shadow: 2px 2px $accent;
            }
        }

        &:active {
            background-color: transparentize($accent, 0.5);
            border-radius: $radii;
            box-shadow: inset 0 0 0 $border-width $border-color;

            .title {
                color: $fg-color;
            }
        }
    }
}
