@use 'sass:color' as color;

$black: #ffffff;
$bgColor: #f9f9f9;
$fgColor: #171717;
$accent: #51a4e7;
$error: red;
$redRecording: #93000a;
$redRecordingText: #93000a;
$red: #e55f86;
$closeRed: #3d3231;
$primaryContainer: #ffccbc;
$shadowColor: #333333;
$inverseSurface: #333333;
$yellow: gray;
$notificationBackground: #e0e0e0;
$mediaPlayerActionIcon: #ffffff;

$overview: rgba(51, 51, 51, 0.06);

$bgTransparent: color.adjust($bgColor, $alpha: -0.05);
$popupTransparent: color.adjust($black, $alpha: -0.68);
$accentTransparent: color.adjust($accent, $alpha: -0.4);
$hover: color.adjust($shadowColor, $alpha: -0.80);
$osd: color.adjust(gray, $alpha: -0.10);
$redTransparent: color.adjust($red, $alpha: -0.3);
$shadowTransparent: color.adjust($shadowColor, $alpha: -0.5);
$inverseSurfaceTransparent: color.adjust($inverseSurface, $alpha: -0.92);
$closeRedTransparent: color.adjust($closeRed, $alpha: -0.5);

$accentGradient: linear-gradient(to right, #51a4e7, #6cb2eb);

$hoverShadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
$focusShadow: inset 0 0 0 2px rgba(0, 0, 0, 0.4);
$focusShadowTransparent: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
